ecom+product+photo.json
{
  "name": "ecom product photo",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "5c1734b9-e5ff-4d34-adbc-bd2f27269cb5",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        912,
        1008
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "2hI5DWJCRoa1trkH",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "0da94bf0-f2f0-4c7e-a6b5-e53cb4993c9a",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        0,
        1280
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "17zQUytFekDK305wvgxYdEYm4N5QEQ1mrwsfccNn872I",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17zQUytFekDK305wvgxYdEYm4N5QEQ1mrwsfccNn872I/edit?usp=drivesdk",
          "cachedResultName": "Image Generation"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17zQUytFekDK305wvgxYdEYm4N5QEQ1mrwsfccNn872I/edit#gid=0",
          "cachedResultName": "Product Images"
        },
        "options": {}
      },
      "id": "4c7fff75-4aa0-4f0b-88a9-c29bb5af82c2",
      "name": "Read Image URLs",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        192,
        848
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BABF9fd2GiPmlycd",
          "name": "Google Sheets Cred"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json['Image-URL'] }}",
        "options": {}
      },
      "id": "8ee465b7-9fa5-4f24-8fd1-ed94b09a876c",
      "name": "Download Images",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        384,
        848
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Briefly explain in less than 5 words what this image is about.",
        "inputType": "base64",
        "options": {}
      },
      "id": "c5d38898-b999-43a8-96ea-ef8617782c1b",
      "name": "Analyze Images",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        752,
        848
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "2hI5DWJCRoa1trkH",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Image description: {{ $json.content }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Create a short prompt for an AI image generator that receives a photo of a product to ultimately produce professional product photography.\n\nIf the product is wearable, it must be worn by a human model with visible face; if it's not wearable, it must be held or interacted with by a model.\n\nThe product must ALWAYS be shown together with a human model with the model's face visible.\n\nEnsure that instructions for optimal realism, best lighting, best angle, best colors, best model positioning, etc. are included according to the product type.\n\nAlways formulate the prompt to refer to the product as \"this [PRODUCT]\" so the AI image generator knows that an input photo of the product is being submitted.\n\nAlways add subtle grain for a cinematic look.\nThe description of the product will be sent to you. Respond exclusively with the final prompt, nothing else, not even quotation marks."
            }
          ]
        }
      },
      "id": "41d645d0-3860-4db4-a223-b641a2ef68ca",
      "name": "Product Photography Prompt",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        944,
        848
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.text }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image[]",
              "inputDataFieldName": "data"
            },
            {
              "name": "quality",
              "value": "high"
            },
            {
              "name": "size",
              "value": "1536x1024"
            }
          ]
        },
        "options": {}
      },
      "id": "8bd9768a-6b65-4f49-bcda-4e7d5b61348d",
      "name": "Send Image with Prompt to OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        224,
        1280
      ],
      "typeVersion": 4.2,
      "credentials": {
        "openAiApi": {
          "id": "9WpWmiE8A7Gl3BYM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "id": "22c95f8a-c705-456a-bf47-89822ee5ce41",
      "name": "Convert Base64 to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        432,
        1280
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "={{ $('Analyze Images').item.json.content }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1v57_bKoeyzQ2xDbJUtbx6zOTfplhpjRf",
          "mode": "list",
          "cachedResultName": "RAG Agent Files",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1v57_bKoeyzQ2xDbJUtbx6zOTfplhpjRf"
        },
        "options": {}
      },
      "id": "f92dbb84-5675-41de-8325-946952920ebe",
      "name": "Upload to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        720,
        1280
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nOHaczbgB6WGs3gg",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Extract Product Images from Template",
        "height": 360,
        "width": 600
      },
      "id": "779ed762-a2f9-4fca-a9dd-80075b006ad6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Analyze Images and Create Prompt for Product Photography",
        "height": 400,
        "width": 600,
        "color": 4
      },
      "id": "f1c19d3a-d318-4a0c-8fa9-77caa2446d9d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## gpt-image-1 creates the Product Photography",
        "height": 360,
        "width": 460,
        "color": 5
      },
      "id": "b4a7d9c3-4f19-44a0-b174-02a9a0882770",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        1168
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Output is uploaded to Drive and the Image URLs are saved in the table",
        "height": 360,
        "width": 340,
        "color": 3
      },
      "id": "044640b8-0ab3-4d57-a5e6-1da3fd64098f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        1168
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "2672471b-fc90-4fad-a5f1-a70aea05e4a6",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -16,
        848
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {
    "Read Image URLs": [
      {
        "json": {
          "Output": "",
          "Prompt": "",
          "Image-URL": "https://www.chamelo.com/cdn/shop/files/image_143.png?v=1727088856",
          "row_number": 2
        }
      },
      {
        "json": {
          "Output": "",
          "Prompt": "",
          "Image-URL": "https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQLTiQY-Gk_H9uIqBRFFx_C_R8qQqwh2Ob1wWyUnEaLPMlrKxlu1OmQA_zfFWeoSLIFwRUZoNUlcABIZ9VUCx6dJ6ce455OHY2wn7khZdr0BKuFpvgoM6SlFg",
          "row_number": 3
        }
      },
      {
        "json": {
          "Output": "",
          "Prompt": "",
          "Image-URL": "https://www.spierandmackay.com/files/catalog/PRODUCT_IMAGES/Spier&Mackay-JSBH2110-3-Taupe%20-%20Wool%20Scarf%20(3).jpg",
          "row_number": 4
        }
      }
    ],
    "When clicking 'Test workflow'": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Product Photography Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send Image with Prompt to OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Image URLs": {
      "main": [
        [
          {
            "node": "Download Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Images": {
      "main": [
        [
          {
            "node": "Analyze Images",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Images": {
      "main": [
        [
          {
            "node": "Product Photography Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Photography Prompt": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send Image with Prompt to OpenAI": {
      "main": [
        [
          {
            "node": "Convert Base64 to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Base64 to File": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        []
      ]
    },
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Read Image URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9ce272aa-b1c0-4660-b490-aee86b838835",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eae46237f0b03e1e21495b9d127d17ad71e5e7504c7d7b1084f9a3d34657c561"
  },
  "id": "kfQne4OdwgN8fgMo",
  "tags": []
}