scrapelinkedincompetitorpost.json
{
  "name": "My workflow 11",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        140
      ],
      "id": "439c1a64-5f27-49b6-943a-c84803efe372",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk",
          "mode": "list",
          "cachedResultName": "Linkedin creators I like as well as are my competitors lol",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        460,
        140
      ],
      "id": "60671b07-1970-45ea-8364-7032eb184b0a",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BABF9fd2GiPmlycd",
          "name": "Google Sheets Cred"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/r4oNX7IHlW4RQAjKP/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer apify_api_WWSFm15eOc4PRmyG6Qglno7MwSgbjg2O409e"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"usernames\": [\n        \"{{ $json['Linkedin url'] }}\"\n    ]\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        320
      ],
      "id": "27e34aca-1b72-494a-b698-a2c45e848841",
      "name": "Profile Scraping"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "96a00fd4-c855-4b10-88ea-ee8d939ec849",
              "leftValue": "={{ $json.stats.reposts }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1140,
        320
      ],
      "id": "72a89ddb-7278-444b-b693-908918e4d12d",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk",
          "mode": "list",
          "cachedResultName": "Linkedin creators I like as well as are my competitors lol",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1299977860,
          "mode": "list",
          "cachedResultName": "Linkedin Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk/edit#gid=1299977860"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Creator Name": "={{ $json.author.first_name }} {{ $json.author.last_name }}",
            "Linkedin Post URL": "={{ $json.url }}",
            "Caption/Text/Copy": "={{ $json.text }}",
            "Likes": "={{ $json.stats.total_reactions }}",
            "Comments": "={{ $json.stats.comments }}",
            "Reposts": "={{ $json.stats.reposts }}",
            "Date and Time Published": "={{ $json.posted_at.date }}",
            "id": "={{ $json.posted_at.timestamp }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Linkedin Post URL",
              "displayName": "Linkedin Post URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Creator Name",
              "displayName": "Creator Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption/Text/Copy",
              "displayName": "Caption/Text/Copy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reposts",
              "displayName": "Reposts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date and Time Published",
              "displayName": "Date and Time Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1340,
        320
      ],
      "id": "01053112-7737-491d-98c5-bbf320c096ea",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BABF9fd2GiPmlycd",
          "name": "Google Sheets Cred"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        140
      ],
      "id": "bdd80161-bc6a-4bf0-8f03-d4afcbb648f1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        -60
      ],
      "id": "593fd4ed-2864-412e-952e-d948d052af98",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Scraping": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Profile Scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ca11e492-0d50-433b-8b4a-41fbb2df7ab2",
  "meta": {
    "instanceId": "eae46237f0b03e1e21495b9d127d17ad71e5e7504c7d7b1084f9a3d34657c561"
  },
  "id": "8Vtir7vZOkVfQ9ri",
  "tags": []
}