X_Twitter_Viral_Tweet_Scraper_Final.json
{
  "name": "X/Twitter Viral Tweet Scraper Final",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1540,
        435
      ],
      "id": "f46bcdfa-1c53-4c2f-88bc-a373a4ce55f7",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "pagesToScrape",
              "type": "numberValue",
              "numberValue": "5"
            },
            {
              "name": "searchTerm",
              "stringValue": "AI"
            }
          ]
        },
        "options": {}
      },
      "id": "1e3110d1-85e4-4807-94e0-0f69c45f72f7",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1320,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const pagesToScrape = $input.first().json.pagesToScrape;\nconst searchTerm = $input.first().json.searchTerm;\n\nconst pages = [];\nfor (let i = 1; i <= pagesToScrape; i++) {\n  // Create consecutive 1-day ranges\n  const daysAgo = i - 1; // 0, 1, 2 days ago\n  const since = new Date();\n  since.setDate(since.getDate() - daysAgo - 1);\n  const until = new Date();\n  until.setDate(until.getDate() - daysAgo);\n  \n  pages.push({\n    json: {\n      page_number: i,\n      search_term: searchTerm,\n      since: since.toISOString().split('T')[0],\n      until: until.toISOString().split('T')[0],\n      total_pages: pagesToScrape\n    }\n  });\n}\n\nreturn pages;\n"
      },
      "id": "7157d884-e4f2-48e5-8933-aa4f10986f37",
      "name": "Generate Page Numbers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1100,
        440
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -880,
        435
      ],
      "id": "f04ccb4b-598b-4435-a972-b686ff4bfeae",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// This approach handles both single tweets and collections\n// It focuses on properly formatting the output for n8n\n// First, let's log what we're working with for debugging\nconsole.log(\"Input item structure:\", JSON.stringify($input.item, null, 2));\n\n// Function to format the date in a more human-readable way\nfunction formatDate(dateString) {\n  if (!dateString) return '';\n  \n  try {\n    const date = new Date(dateString);\n    // Format: \"March 13, 2025 at 19:25\"\n    return date.toLocaleString('en-US', {\n      year: 'numeric',\n      month: 'long',\n      day: 'numeric',\n      hour: '2-digit',\n      minute: '2-digit'\n    });\n  } catch (error) {\n    console.log(\"Error formatting date:\", error);\n    return dateString; // Return original if parsing fails\n  }\n}\n\n// Check if this is a Twitter Search result with multiple tweets\nif ($input.item.json.tweets && Array.isArray($input.item.json.tweets) && $input.item.json.tweets.length > 0) {\n  // This is a collection of tweets\n  // In n8n, to output multiple items, we need to use an array of objects with a json property\n  const items = $input.item.json.tweets.map(tweet => {\n    return {\n      json: {\n        tweetId: tweet.id || '',\n        url: tweet.url || '',\n        content: tweet.text || '',\n        likeCount: tweet.likeCount || 0,\n        retweetCount: tweet.retweetCount || 0,\n        replyCount: tweet.replyCount || 0,\n        quoteCount: tweet.quoteCount || 0,\n        viewCount: tweet.viewCount || 0,\n        createdAt: formatDate(tweet.createdAt)\n      }\n    };\n  });\n  \n  console.log(`Processing ${items.length} tweets`);\n  \n  // Return all items\n  return items;\n} else {\n  // This is a single tweet, just extract and return its data\n  const tweetData = {\n    tweetId: $input.item.json.id || '',\n    url: $input.item.json.url || '',\n    content: $input.item.json.text || '',\n    likeCount: $input.item.json.likeCount || 0,\n    retweetCount: $input.item.json.retweetCount || 0,\n    replyCount: $input.item.json.replyCount || 0,\n    quoteCount: $input.item.json.quoteCount || 0,\n    viewCount: $input.item.json.viewCount || 0,\n    createdAt: formatDate($input.item.json.createdAt)\n  };\n  \n  console.log(\"Processing single tweet\");\n  \n  // Return as a single item\n  return {\n    json: tweetData\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -440,
        360
      ],
      "id": "7bbdcc90-4b58-4fee-8ce7-a1d102b102a9",
      "name": "Extract Key Information"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1540,
        260
      ],
      "id": "7048e58a-061b-45bc-a376-1451d00c4f2c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jwa5JakpCET7bqQuUxJhMeAjCS5uiU6rv8PtvuRqLJs",
          "mode": "list",
          "cachedResultName": "Top Tweets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jwa5JakpCET7bqQuUxJhMeAjCS5uiU6rv8PtvuRqLJs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1933842776,
          "mode": "list",
          "cachedResultName": "Copy of Tweets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jwa5JakpCET7bqQuUxJhMeAjCS5uiU6rv8PtvuRqLJs/edit#gid=1933842776"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $json.url }}",
            "Content": "={{ $json.content }}",
            "Likes": "={{ $json.likeCount }}",
            "Retweets": "={{ $json.retweetCount }}",
            "Replies": "={{ $json.replyCount }}",
            "Quotes": "={{ $json.quoteCount }}",
            "Views": "={{ $json.viewCount }}",
            "Date": "={{ $json.createdAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tweet ID",
              "displayName": "Tweet ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Retweets",
              "displayName": "Retweets",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Replies",
              "displayName": "Replies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quotes",
              "displayName": "Quotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Views",
              "displayName": "Views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        440
      ],
      "id": "2ce9900f-b493-4d00-850f-dbef922556c2",
      "name": "Add to Source",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BABF9fd2GiPmlycd",
          "name": "Google Sheets Cred"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.twitterapi.io/twitter/tweet/advanced_search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.search_term }} since:{{ $json.since }} until:{{ $json.until }}"
            },
            {
              "name": "queryType",
              "value": "Top"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        360
      ],
      "id": "0cbfbf44-9cbd-49dd-b818-f5b4b1206b0f",
      "name": "Find Tweets",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xZ2cOm3MFIuqAFy6",
          "name": "twitterapi"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "viewCount",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -220,
        360
      ],
      "id": "03847517-238b-4b06-a893-391af9629982",
      "name": "Sort"
    }
  ],
  "pinData": {
    "Find Tweets": [
      {
        "json": {
          "tweets": [
            {
              "type": "tweet",
              "id": "1929964446967050431",
              "url": "https://x.com/ChefGruel/status/1929964446967050431",
              "twitterUrl": "https://twitter.com/ChefGruel/status/1929964446967050431",
              "text": "AI couldn’t have come up with a better photo capturing Los Angeles. https://t.co/Eo8iNTIRDN",
              "source": "Twitter for iPhone",
              "retweetCount": 221,
              "replyCount": 58,
              "likeCount": 2085,
              "quoteCount": 15,
              "viewCount": 100518,
              "createdAt": "Tue Jun 03 18:12:35 +0000 2025",
              "lang": "en",
              "bookmarkCount": 79,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1929964446967050431",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "ChefGruel",
                "url": "https://x.com/ChefGruel",
                "twitterUrl": "https://twitter.com/ChefGruel",
                "id": "2839374404",
                "name": "Chef Andrew Gruel",
                "isVerified": false,
                "isBlueVerified": true,
                "verifiedType": null,
                "profilePicture": "https://pbs.twimg.com/profile_images/1359368547642732544/nxM9bEnp_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/2839374404/1473544602",
                "description": "",
                "location": "California",
                "followers": 313576,
                "following": 7237,
                "status": "",
                "canDm": false,
                "canMediaTag": false,
                "createdAt": "Fri Oct 03 21:21:09 +0000 2014",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 408635,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 10325,
                "statusesCount": 75103,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [
                  "1929620552245039614"
                ],
                "profile_bio": {
                  "description": "Family | Food | Freedom | HB City Councilman  🇺🇸 - TV Host | Fmr. Judge on Food Network | Regular on Gutfeld & Fox | @calicofishhouse",
                  "entities": {
                    "description": {
                      "user_mentions": [
                        {
                          "id_str": "0",
                          "indices": [
                            117,
                            133
                          ],
                          "name": "",
                          "screen_name": "calicofishhouse"
                        }
                      ]
                    },
                    "url": {
                      "urls": [
                        {
                          "display_url": "linktr.ee/andrewgruel",
                          "expanded_url": "https://linktr.ee/andrewgruel",
                          "indices": [
                            0,
                            23
                          ],
                          "url": "https://t.co/rzkaHQ31Ox"
                        }
                      ]
                    }
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "display_url": "pic.twitter.com/Eo8iNTIRDN",
                    "expanded_url": "https://twitter.com/ChefGruel/status/1929964446967050431/photo/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "features": {
                      "large": {},
                      "orig": {}
                    },
                    "id_str": "1929964442428813316",
                    "indices": [
                      68,
                      91
                    ],
                    "media_key": "3_1929964442428813316",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwAAQoAARrInG9cGrAECgACGsiccGqasL8AAA==",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAABCgABGsicb1wasAQKAAIayJxwapqwvwAA",
                        "media_key": "3_1929964442428813316"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/media/Gsicb1wasAQZyeP.jpg",
                    "original_info": {
                      "focus_rects": [
                        {
                          "h": 860,
                          "w": 1536,
                          "x": 0,
                          "y": 0
                        },
                        {
                          "h": 1536,
                          "w": 1536,
                          "x": 0,
                          "y": 0
                        },
                        {
                          "h": 1751,
                          "w": 1536,
                          "x": 0,
                          "y": 0
                        },
                        {
                          "h": 2048,
                          "w": 1024,
                          "x": 256,
                          "y": 0
                        },
                        {
                          "h": 2048,
                          "w": 1536,
                          "x": 0,
                          "y": 0
                        }
                      ],
                      "height": 2048,
                      "width": 1536
                    },
                    "sizes": {
                      "large": {
                        "h": 2048,
                        "w": 1536
                      }
                    },
                    "type": "photo",
                    "url": "https://t.co/Eo8iNTIRDN"
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {},
              "quoted_tweet": null,
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1929946902566494653",
              "url": "https://x.com/RepMTG/status/1929946902566494653",
              "twitterUrl": "https://twitter.com/RepMTG/status/1929946902566494653",
              "text": "Full transparency, I did not know about this section on pages 278-279 of the OBBB that strips states of the right to make laws or regulate AI for 10 years.\n\nI am adamantly OPPOSED to this and it is a violation of state rights and I would have voted NO if I had known this was in there.\n\nWe have no idea what AI will be capable of in the next 10 years and giving it free rein and tying states hands is potentially dangerous.\n\nThis needs to be stripped out in the Senate.\n\nWhen the OBBB comes back to the House for approval after Senate changes, I will not vote for it with this in it.\n\nWe should be reducing federal power and preserving state power. \n\nNot the other way around.\n\nEspecially with rapidly developing AI that even the experts warn they have no idea what it may be capable of.",
              "source": "Twitter for iPhone",
              "retweetCount": 10642,
              "replyCount": 26821,
              "likeCount": 49462,
              "quoteCount": 7678,
              "viewCount": 22126987,
              "createdAt": "Tue Jun 03 17:02:52 +0000 2025",
              "lang": "en",
              "bookmarkCount": 4186,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1929946902566494653",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "RepMTG",
                "url": "https://x.com/RepMTG",
                "twitterUrl": "https://twitter.com/RepMTG",
                "id": "1344356576786866176",
                "name": "Rep. Marjorie Taylor Greene🇺🇸",
                "isVerified": false,
                "isBlueVerified": true,
                "verifiedType": "Government",
                "profilePicture": "https://pbs.twimg.com/profile_images/1867641239685713920/7jTW4Eag_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/1344356576786866176/1661804538",
                "description": "",
                "location": "Rome, GA",
                "followers": 4815511,
                "following": 664,
                "status": "",
                "canDm": true,
                "canMediaTag": true,
                "createdAt": "Wed Dec 30 18:57:01 +0000 2020",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 5157,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 2681,
                "statusesCount": 8690,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [
                  "1517852261963243521"
                ],
                "profile_bio": {
                  "description": "Christian, Mother, American, Business Owner, and Congresswoman representing Georgia’s 14th District | Chairwoman @DOGECommittee",
                  "entities": {
                    "description": {
                      "user_mentions": [
                        {
                          "id_str": "0",
                          "indices": [
                            113,
                            127
                          ],
                          "name": "",
                          "screen_name": "DOGECommittee"
                        }
                      ]
                    },
                    "url": {
                      "urls": [
                        {
                          "display_url": "Greene.House.gov",
                          "expanded_url": "http://Greene.House.gov",
                          "indices": [
                            0,
                            23
                          ],
                          "url": "https://t.co/4mAJZCMlrr"
                        }
                      ]
                    }
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "allow_download_status": {
                      "allow_download": true
                    },
                    "display_url": "pic.twitter.com/bip3hztSGq",
                    "expanded_url": "https://twitter.com/RepMTG/status/1929946902566494653/photo/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "features": {
                      "large": {
                        "faces": [
                          {
                            "h": 81,
                            "w": 81,
                            "x": 575,
                            "y": 138
                          }
                        ]
                      },
                      "orig": {
                        "faces": [
                          {
                            "h": 81,
                            "w": 81,
                            "x": 575,
                            "y": 138
                          }
                        ]
                      }
                    },
                    "id_str": "1929946899294961664",
                    "indices": [
                      280,
                      303
                    ],
                    "media_key": "3_1929946899294961664",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwAAQoAARrIjHrH18AACgACGsiMe4rXYb0AAA==",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAABCgABGsiMesfXwAAKAAIayIx7itdhvQAA",
                        "media_key": "3_1929946899294961664"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/media/GsiMesfXwAAN5wb.jpg",
                    "original_info": {
                      "focus_rects": [
                        {
                          "h": 444,
                          "w": 793,
                          "x": 0,
                          "y": 0
                        },
                        {
                          "h": 735,
                          "w": 735,
                          "x": 0,
                          "y": 0
                        },
                        {
                          "h": 735,
                          "w": 645,
                          "x": 14,
                          "y": 0
                        },
                        {
                          "h": 735,
                          "w": 368,
                          "x": 152,
                          "y": 0
                        },
                        {
                          "h": 735,
                          "w": 793,
                          "x": 0,
                          "y": 0
                        }
                      ],
                      "height": 735,
                      "width": 793
                    },
                    "sizes": {
                      "large": {
                        "h": 735,
                        "w": 793
                      }
                    },
                    "type": "photo",
                    "url": "https://t.co/bip3hztSGq"
                  },
                  {
                    "allow_download_status": {
                      "allow_download": true
                    },
                    "display_url": "pic.twitter.com/bip3hztSGq",
                    "expanded_url": "https://twitter.com/RepMTG/status/1929946902566494653/photo/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "features": {
                      "large": {},
                      "orig": {}
                    },
                    "id_str": "1929946899299082240",
                    "indices": [
                      280,
                      303
                    ],
                    "media_key": "3_1929946899299082240",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwAAQoAARrIjHrIFqAACgACGsiMe4rXYb0AAA==",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAABCgABGsiMesgWoAAKAAIayIx7itdhvQAA",
                        "media_key": "3_1929946899299082240"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/media/GsiMesgWoAATchq.jpg",
                    "original_info": {
                      "focus_rects": [
                        {
                          "h": 313,
                          "w": 559,
                          "x": 0,
                          "y": 400
                        },
                        {
                          "h": 559,
                          "w": 559,
                          "x": 0,
                          "y": 265
                        },
                        {
                          "h": 637,
                          "w": 559,
                          "x": 0,
                          "y": 187
                        },
                        {
                          "h": 824,
                          "w": 412,
                          "x": 61,
                          "y": 0
                        },
                        {
                          "h": 824,
                          "w": 559,
                          "x": 0,
                          "y": 0
                        }
                      ],
                      "height": 824,
                      "width": 559
                    },
                    "sizes": {
                      "large": {
                        "h": 824,
                        "w": 559
                      }
                    },
                    "type": "photo",
                    "url": "https://t.co/bip3hztSGq"
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {},
              "quoted_tweet": null,
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1930047497231024356",
              "url": "https://x.com/dinisguarda/status/1930047497231024356",
              "twitterUrl": "https://twitter.com/dinisguarda/status/1930047497231024356",
              "text": "The Present - Future of AI is here. Now!\nWhat are you doing about it?\n🌍 Businessabc AI Global Summit 2025\n📅 June 26–27 | 📍 Kensington Town Hall, London\nJoin 60+ world-class speakers 1300+ professionals\nOne of London, UK, Global’s most important AI events.\nAI x Trust + AI x Growth + AI x Humanity\n\n#AI x ##Education + AI x Creativity, + AI x #Sustainability + AI x Arms Race\nAI x #Business + AI x Global #Governance + AI x #AGI\n\n✔️ Meet Ben Goertzel SingularityNet ASI founder that coined the term AGI\n✔️ Listen to Desdemona's Dream Human Robot band perform music and poetry\n✔️ Meet leaders from Top Global Universities, Startups, governments\n\n✔️ Discover breakthroughs in AGI, Ethics, and AI for Good\n✔️ Network with innovators, investors, and policymakers\n✔️ Limited seats – book yours now!\nCheck the program → https://t.co/4B3heR6Fkk\n🎟️ REGISTER NOW Buy tickets https://t.co/aTZoEkplcq\nAre you growing with AI or being disrupted?\n\nJoin a rare opportunity to shape the global AI agenda through high-level collaborations between governments, corporations, academia, and civil society.\n\nThe event supported by Baroness Sandy Verma \nin partnership with GMEX Group ZERO13 \nand featuring Tim Clement-Jones Ben Goertzel Chang Lih Kang Xiaolan Fu Dr. Vijay P. Bhatkar Natasha Mudhar Nick Rosa Juliette Powell Rupert Hofmann Janet Adams Niall Roche Professor Yu Xiong CEng PhD Gracie Page-Fozzati Ghislaine Boddington Dr.Milind Pande-Pro Vice Chancellor Hasan turunc Othman al-Omeir Hirander Misra Dr. Rais Hussin Hj A Mohamed Ariff Erik Schwartz Dr. Annette Doms Timothy \"Tim\" Hughes 提姆·休斯 L.ISP Deborah Sawaf Alexandra Farrell Jean Lehmann Sonesh Sira Vijay Goel Pankaj Chandak Jewel Okwechime CEng CEnv FIChemE Ryan Abbott Juan Cabrera Xiaochen Zhang Rajesh Sivaprakasam Louize Clark, LLB(Hons) MSc, MCIM, MNLP Rhana H Zakri Darya Shaterloo Richard Thorpe and many others we will highlight",
              "source": "Twitter for iPhone",
              "retweetCount": 18,
              "replyCount": 8,
              "likeCount": 117,
              "quoteCount": 0,
              "viewCount": 1722,
              "createdAt": "Tue Jun 03 23:42:36 +0000 2025",
              "lang": "en",
              "bookmarkCount": 0,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1930047497231024356",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "dinisguarda",
                "url": "https://x.com/dinisguarda",
                "twitterUrl": "https://twitter.com/dinisguarda",
                "id": "20222744",
                "name": "Dinis Guarda",
                "isVerified": false,
                "isBlueVerified": true,
                "verifiedType": null,
                "profilePicture": "https://pbs.twimg.com/profile_images/1472679271059574785/rmgZfmxZ_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/20222744/1696324580",
                "description": "",
                "location": "London / World",
                "followers": 128642,
                "following": 8581,
                "status": "",
                "canDm": true,
                "canMediaTag": false,
                "createdAt": "Fri Feb 06 08:12:16 +0000 2009",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 68804,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 4109,
                "statusesCount": 168437,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [
                  "1930047497231024356"
                ],
                "profile_bio": {
                  "description": "Author Creator #AI #tech @citiesabc_ @businessabc__ https://t.co/2rFoYjjDzY @sportsabc_ @fashionabc_ @intelligenthq @metaverseabc_   #blockchain #Fintech CEO @ztudium #book",
                  "entities": {
                    "description": {
                      "hashtags": [
                        {
                          "indices": [
                            15,
                            18
                          ],
                          "text": "AI"
                        },
                        {
                          "indices": [
                            19,
                            24
                          ],
                          "text": "tech"
                        },
                        {
                          "indices": [
                            133,
                            144
                          ],
                          "text": "blockchain"
                        },
                        {
                          "indices": [
                            145,
                            153
                          ],
                          "text": "Fintech"
                        },
                        {
                          "indices": [
                            167,
                            172
                          ],
                          "text": "book"
                        }
                      ],
                      "urls": [
                        {
                          "display_url": "Wisdomia.ai",
                          "expanded_url": "http://Wisdomia.ai",
                          "indices": [
                            52,
                            75
                          ],
                          "url": "https://t.co/2rFoYjjDzY"
                        }
                      ],
                      "user_mentions": [
                        {
                          "id_str": "0",
                          "indices": [
                            25,
                            36
                          ],
                          "name": "",
                          "screen_name": "citiesabc_"
                        },
                        {
                          "id_str": "0",
                          "indices": [
                            37,
                            51
                          ],
                          "name": "",
                          "screen_name": "businessabc__"
                        },
                        {
                          "id_str": "0",
                          "indices": [
                            76,
                            87
                          ],
                          "name": "",
                          "screen_name": "sportsabc_"
                        },
                        {
                          "id_str": "0",
                          "indices": [
                            88,
                            100
                          ],
                          "name": "",
                          "screen_name": "fashionabc_"
                        },
                        {
                          "id_str": "0",
                          "indices": [
                            101,
                            115
                          ],
                          "name": "",
                          "screen_name": "intelligenthq"
                        },
                        {
                          "id_str": "0",
                          "indices": [
                            116,
                            130
                          ],
                          "name": "",
                          "screen_name": "metaverseabc_"
                        },
                        {
                          "id_str": "0",
                          "indices": [
                            158,
                            166
                          ],
                          "name": "",
                          "screen_name": "ztudium"
                        }
                      ]
                    },
                    "url": {
                      "urls": [
                        {
                          "display_url": "wisdomia.ai",
                          "expanded_url": "http://www.wisdomia.ai",
                          "indices": [
                            0,
                            23
                          ],
                          "url": "https://t.co/vM7m2FBQnS"
                        }
                      ]
                    }
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "allow_download_status": {
                      "allow_download": true
                    },
                    "display_url": "pic.twitter.com/X6tunFJ1hz",
                    "expanded_url": "https://twitter.com/dinisguarda/status/1930047497231024356/photo/1",
                    "ext_alt_text": "The Present - Future of AI is here. Now!\nWhat are you doing about it?\n🌍 Businessabc AI Global Summit 2025\n📅 June 26–27 | 📍 Kensington Town Hall, London\nJoin 60+ world-class speakers 1300+ professionals\nOne of London, UK, Global’s most important AI events.\nAI x Trust + AI x Growth + AI x Humanity\n\nAI x Education + AI x Creativity, + AI x Sustainability +\nAI x Business + AI x Global Governance + AI x AGI\n\n✔️ Meet Ben Goertzel SingularityNet ASI founder that coined the term AGI\n✔️ Listen to Desdemona's Dream Human Robot band perform music and poetry\n✔️ Meet leaders from Top Global Universities, Startups, governments\n\n✔️ Discover breakthroughs in AGI, Ethics, and AI for Good\n✔️ Network with innovators, investors, and policymakers\n✔️ Limited seats – book yours now!\nCheck the program → aisummit.businessabc.net\n🎟️ REGISTER NOW Buy tickets https://www.eventbrite.co.uk/e/businessabc-ai-global-summit-tickets-1321517377049?aff=oddtdtcreator\nAre you growing with AI or being disrupted?",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "features": {
                      "all": {
                        "tags": [
                          {
                            "name": "Antonio Vieira Santos",
                            "screen_name": "AkwyZ",
                            "type": "user",
                            "user_id": "19485870"
                          },
                          {
                            "name": "Antonio Grasso",
                            "screen_name": "antgrasso",
                            "type": "user",
                            "user_id": "4338452835"
                          },
                          {
                            "name": "Antonio Figueiredo",
                            "screen_name": "afigueiredo",
                            "type": "user",
                            "user_id": "13813962"
                          },
                          {
                            "name": "Thomas Power",
                            "screen_name": "thomaspower",
                            "type": "user",
                            "user_id": "1621271"
                          },
                          {
                            "name": "Peyman Farahani",
                            "screen_name": "peymandao",
                            "type": "user",
                            "user_id": "7862602"
                          },
                          {
                            "name": "intelligentHQ.com",
                            "screen_name": "intelligentHQ",
                            "type": "user",
                            "user_id": "25204382"
                          },
                          {
                            "name": "ztudium",
                            "screen_name": "ztudium",
                            "type": "user",
                            "user_id": "169974804"
                          },
                          {
                            "name": "Xavier Gomez",
                            "screen_name": "Xbond49",
                            "type": "user",
                            "user_id": "235684766"
                          },
                          {
                            "name": "Sportsabc",
                            "screen_name": "sportsabc_",
                            "type": "user",
                            "user_id": "1380104704160587776"
                          },
                          {
                            "name": "Jean-Baptiste Lefevre",
                            "screen_name": "jblefevre60",
                            "type": "user",
                            "user_id": "4374719908"
                          }
                        ]
                      },
                      "large": {
                        "faces": [
                          {
                            "h": 91,
                            "w": 91,
                            "x": 1821,
                            "y": 237
                          },
                          {
                            "h": 85,
                            "w": 85,
                            "x": 79,
                            "y": 319
                          },
                          {
                            "h": 103,
                            "w": 103,
                            "x": 495,
                            "y": 359
                          },
                          {
                            "h": 93,
                            "w": 93,
                            "x": 1305,
                            "y": 431
                          },
                          {
                            "h": 99,
                            "w": 99,
                            "x": 1029,
                            "y": 479
                          },
                          {
                            "h": 89,
                            "w": 89,
                            "x": 1183,
                            "y": 517
                          },
                          {
                            "h": 83,
                            "w": 83,
                            "x": 755,
                            "y": 523
                          },
                          {
                            "h": 103,
                            "w": 103,
                            "x": 911,
                            "y": 827
                          },
                          {
                            "h": 91,
                            "w": 91,
                            "x": 55,
                            "y": 129
                          },
                          {
                            "h": 91,
                            "w": 91,
                            "x": 1931,
                            "y": 181
                          },
                          {
                            "h": 91,
                            "w": 91,
                            "x": 223,
                            "y": 199
                          },
                          {
                            "h": 107,
                            "w": 107,
                            "x": 375,
                            "y": 267
                          },
                          {
                            "h": 85,
                            "w": 85,
                            "x": 1665,
                            "y": 303
                          },
                          {
                            "h": 95,
                            "w": 95,
                            "x": 1479,
                            "y": 371
                          },
                          {
                            "h": 85,
                            "w": 85,
                            "x": 609,
                            "y": 451
                          },
                          {
                            "h": 101,
                            "w": 101,
                            "x": 1741,
                            "y": 501
                          },
                          {
                            "h": 93,
                            "w": 93,
                            "x": 1585,
                            "y": 513
                          },
                          {
                            "h": 93,
                            "w": 93,
                            "x": 347,
                            "y": 543
                          },
                          {
                            "h": 95,
                            "w": 95,
                            "x": 897,
                            "y": 545
                          },
                          {
                            "h": 95,
                            "w": 95,
                            "x": 1415,
                            "y": 591
                          },
                          {
                            "h": 97,
                            "w": 97,
                            "x": 649,
                            "y": 609
                          },
                          {
                            "h": 93,
                            "w": 93,
                            "x": 1285,
                            "y": 663
                          },
                          {
                            "h": 101,
                            "w": 101,
                            "x": 1683,
                            "y": 673
                          },
                          {
                            "h": 97,
                            "w": 97,
                            "x": 497,
                            "y": 677
                          },
                          {
                            "h": 103,
                            "w": 103,
                            "x": 793,
                            "y": 677
                          },
                          {
                            "h": 93,
                            "w": 93,
                            "x": 1415,
                            "y": 821
                          },
                          {
                            "h": 111,
                            "w": 111,
                            "x": 267,
                            "y": 825
                          },
                          {
                            "h": 97,
                            "w": 97,
                            "x": 231,
                            "y": 379
                          },
                          {
                            "h": 101,
                            "w": 101,
                            "x": 1891,
                            "y": 465
                          },
                          {
                            "h": 109,
                            "w": 109,
                            "x": 59,
                            "y": 507
                          },
                          {
                            "h": 111,
                            "w": 111,
                            "x": 1920,
                            "y": 699
                          },
                          {
                            "h": 109,
                            "w": 109,
                            "x": 1547,
                            "y": 751
                          },
                          {
                            "h": 113,
                            "w": 113,
                            "x": 1147,
                            "y": 797
                          },
                          {
                            "h": 109,
                            "w": 109,
                            "x": 687,
                            "y": 809
                          },
                          {
                            "h": 99,
                            "w": 99,
                            "x": 211,
                            "y": 627
                          },
                          {
                            "h": 99,
                            "w": 99,
                            "x": 1025,
                            "y": 661
                          },
                          {
                            "h": 103,
                            "w": 103,
                            "x": 65,
                            "y": 763
                          },
                          {
                            "h": 109,
                            "w": 109,
                            "x": 483,
                            "y": 847
                          },
                          {
                            "h": 121,
                            "w": 121,
                            "x": 1775,
                            "y": 853
                          }
                        ]
                      },
                      "orig": {
                        "faces": [
                          {
                            "h": 108,
                            "w": 108,
                            "x": 2149,
                            "y": 280
                          },
                          {
                            "h": 101,
                            "w": 101,
                            "x": 94,
                            "y": 377
                          },
                          {
                            "h": 122,
                            "w": 122,
                            "x": 585,
                            "y": 424
                          },
                          {
                            "h": 110,
                            "w": 110,
                            "x": 1540,
                            "y": 509
                          },
                          {
                            "h": 117,
                            "w": 117,
                            "x": 1215,
                            "y": 566
                          },
                          {
                            "h": 106,
                            "w": 106,
                            "x": 1396,
                            "y": 611
                          },
                          {
                            "h": 99,
                            "w": 99,
                            "x": 891,
                            "y": 618
                          },
                          {
                            "h": 122,
                            "w": 122,
                            "x": 1075,
                            "y": 976
                          },
                          {
                            "h": 108,
                            "w": 108,
                            "x": 66,
                            "y": 153
                          },
                          {
                            "h": 108,
                            "w": 108,
                            "x": 2279,
                            "y": 214
                          },
                          {
                            "h": 108,
                            "w": 108,
                            "x": 264,
                            "y": 235
                          },
                          {
                            "h": 127,
                            "w": 127,
                            "x": 443,
                            "y": 316
                          },
                          {
                            "h": 101,
                            "w": 101,
                            "x": 1965,
                            "y": 358
                          },
                          {
                            "h": 113,
                            "w": 113,
                            "x": 1745,
                            "y": 438
                          },
                          {
                            "h": 101,
                            "w": 101,
                            "x": 719,
                            "y": 533
                          },
                          {
                            "h": 120,
                            "w": 120,
                            "x": 2055,
                            "y": 592
                          },
                          {
                            "h": 110,
                            "w": 110,
                            "x": 1870,
                            "y": 606
                          },
                          {
                            "h": 110,
                            "w": 110,
                            "x": 410,
                            "y": 641
                          },
                          {
                            "h": 113,
                            "w": 113,
                            "x": 1059,
                            "y": 644
                          },
                          {
                            "h": 113,
                            "w": 113,
                            "x": 1670,
                            "y": 698
                          },
                          {
                            "h": 115,
                            "w": 115,
                            "x": 766,
                            "y": 719
                          },
                          {
                            "h": 110,
                            "w": 110,
                            "x": 1517,
                            "y": 783
                          },
                          {
                            "h": 120,
                            "w": 120,
                            "x": 1986,
                            "y": 795
                          },
                          {
                            "h": 115,
                            "w": 115,
                            "x": 587,
                            "y": 799
                          },
                          {
                            "h": 122,
                            "w": 122,
                            "x": 936,
                            "y": 799
                          },
                          {
                            "h": 110,
                            "w": 110,
                            "x": 1670,
                            "y": 969
                          },
                          {
                            "h": 132,
                            "w": 132,
                            "x": 316,
                            "y": 974
                          },
                          {
                            "h": 115,
                            "w": 115,
                            "x": 273,
                            "y": 448
                          },
                          {
                            "h": 120,
                            "w": 120,
                            "x": 2231,
                            "y": 549
                          },
                          {
                            "h": 129,
                            "w": 129,
                            "x": 70,
                            "y": 599
                          },
                          {
                            "h": 132,
                            "w": 132,
                            "x": 2265,
                            "y": 825
                          },
                          {
                            "h": 129,
                            "w": 129,
                            "x": 1826,
                            "y": 887
                          },
                          {
                            "h": 134,
                            "w": 134,
                            "x": 1354,
                            "y": 941
                          },
                          {
                            "h": 129,
                            "w": 129,
                            "x": 811,
                            "y": 955
                          },
                          {
                            "h": 117,
                            "w": 117,
                            "x": 250,
                            "y": 740
                          },
                          {
                            "h": 117,
                            "w": 117,
                            "x": 1210,
                            "y": 780
                          },
                          {
                            "h": 122,
                            "w": 122,
                            "x": 77,
                            "y": 901
                          },
                          {
                            "h": 129,
                            "w": 129,
                            "x": 570,
                            "y": 1000
                          },
                          {
                            "h": 143,
                            "w": 143,
                            "x": 2095,
                            "y": 1007
                          }
                        ]
                      }
                    },
                    "id_str": "1930046262897750016",
                    "indices": [
                      275,
                      298
                    ],
                    "media_key": "3_1930046262897750016",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwAAQoAARrI5tmsFzAACgACGsjn+RAWQOQAAA==",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAABCgABGsjm2awXMAAKAAIayOf5EBZA5AAA",
                        "media_key": "3_1930046262897750016"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/media/Gsjm2awXMAAawpk.jpg",
                    "original_info": {
                      "focus_rects": [
                        {
                          "h": 1352,
                          "w": 2414,
                          "x": 2,
                          "y": 0
                        },
                        {
                          "h": 1352,
                          "w": 1352,
                          "x": 592,
                          "y": 0
                        },
                        {
                          "h": 1352,
                          "w": 1186,
                          "x": 675,
                          "y": 0
                        },
                        {
                          "h": 1352,
                          "w": 676,
                          "x": 930,
                          "y": 0
                        },
                        {
                          "h": 1352,
                          "w": 2416,
                          "x": 0,
                          "y": 0
                        }
                      ],
                      "height": 1352,
                      "width": 2416
                    },
                    "sizes": {
                      "large": {
                        "h": 1146,
                        "w": 2048
                      }
                    },
                    "type": "photo",
                    "url": "https://t.co/X6tunFJ1hz"
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {
                "hashtags": [
                  {
                    "indices": [
                      298,
                      301
                    ],
                    "text": "AI"
                  },
                  {
                    "indices": [
                      305,
                      315
                    ],
                    "text": "Education"
                  },
                  {
                    "indices": [
                      342,
                      357
                    ],
                    "text": "Sustainability"
                  },
                  {
                    "indices": [
                      380,
                      389
                    ],
                    "text": "Business"
                  },
                  {
                    "indices": [
                      404,
                      415
                    ],
                    "text": "Governance"
                  },
                  {
                    "indices": [
                      423,
                      427
                    ],
                    "text": "AGI"
                  }
                ],
                "urls": [
                  {
                    "display_url": "aisummit.businessabc.net",
                    "expanded_url": "http://aisummit.businessabc.net",
                    "indices": [
                      813,
                      836
                    ],
                    "url": "https://t.co/4B3heR6Fkk"
                  },
                  {
                    "display_url": "eventbrite.co.uk/e/businessabc-…",
                    "expanded_url": "https://www.eventbrite.co.uk/e/businessabc-ai-global-summit-tickets-1321517377049?aff=oddtdtcreator",
                    "indices": [
                      865,
                      888
                    ],
                    "url": "https://t.co/aTZoEkplcq"
                  }
                ]
              },
              "quoted_tweet": null,
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1929931173813465271",
              "url": "https://x.com/ASUS/status/1929931173813465271",
              "twitterUrl": "https://twitter.com/ASUS/status/1929931173813465271",
              "text": "🎁Found your destined #ASUS #AI product at #COMPUTEX2025?\nTag your parents (or generous friends 😜) in the comment below to make your wish known!\n\n👉More details: https://t.co/CF4TrPGG0I\n#COMPUTEX https://t.co/tDXtIdJ6BY",
              "source": "Twitter for iPhone",
              "retweetCount": 66,
              "replyCount": 83,
              "likeCount": 174,
              "quoteCount": 6,
              "viewCount": 8435,
              "createdAt": "Tue Jun 03 16:00:22 +0000 2025",
              "lang": "en",
              "bookmarkCount": 19,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1929931173813465271",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "ASUS",
                "url": "https://x.com/ASUS",
                "twitterUrl": "https://twitter.com/ASUS",
                "id": "591646425",
                "name": "ASUS",
                "isVerified": false,
                "isBlueVerified": false,
                "verifiedType": "Business",
                "profilePicture": "https://pbs.twimg.com/profile_images/1569505191879122945/KKVUZDBS_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/591646425/1748942668",
                "description": "",
                "location": "ASUS HQ",
                "followers": 992719,
                "following": 418,
                "status": "",
                "canDm": true,
                "canMediaTag": true,
                "createdAt": "Sun May 27 06:17:13 +0000 2012",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 2445,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 5209,
                "statusesCount": 12681,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [],
                "profile_bio": {
                  "description": "Official ASUS Twitter. Get the scoop on products, updates and contests. \nFor customer service/ technical inquiry: https://t.co/YGU5BBjvlH",
                  "entities": {
                    "description": {
                      "urls": [
                        {
                          "display_url": "asus.click/support_tw",
                          "expanded_url": "http://asus.click/support_tw",
                          "indices": [
                            114,
                            137
                          ],
                          "url": "https://t.co/YGU5BBjvlH"
                        }
                      ]
                    },
                    "url": {
                      "urls": [
                        {
                          "display_url": "asus.com",
                          "expanded_url": "http://www.asus.com",
                          "indices": [
                            0,
                            23
                          ],
                          "url": "https://t.co/lknqXfhd6j"
                        }
                      ]
                    }
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "additional_media_info": {
                      "monetizable": false
                    },
                    "display_url": "pic.twitter.com/tDXtIdJ6BY",
                    "expanded_url": "https://twitter.com/ASUS/status/1929931173813465271/video/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "id_str": "1929931082318983168",
                    "indices": [
                      194,
                      217
                    ],
                    "media_key": "7_1929931082318983168",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwAAwoAARrIfhgam7AACgACGsh+LWgasLcAAA==",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAADCgABGsh+GBqbsAAKAAIayH4taBqwtwAA",
                        "media_key": "7_1929931082318983168"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/ext_tw_video_thumb/1929931082318983168/pu/img/uuWpi-PWNaeKyv1A.jpg",
                    "original_info": {
                      "focus_rects": [],
                      "height": 1350,
                      "width": 1080
                    },
                    "sizes": {
                      "large": {
                        "h": 1350,
                        "w": 1080
                      }
                    },
                    "type": "video",
                    "url": "https://t.co/tDXtIdJ6BY",
                    "video_info": {
                      "aspect_ratio": [
                        4,
                        5
                      ],
                      "duration_millis": 15000,
                      "variants": [
                        {
                          "content_type": "application/x-mpegURL",
                          "url": "https://video.twimg.com/ext_tw_video/1929931082318983168/pu/pl/Tj_cWkGLr_Pvio9S.m3u8?tag=12&v=cfc"
                        },
                        {
                          "bitrate": 632000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/ext_tw_video/1929931082318983168/pu/vid/avc1/320x400/PLlxzFfBAoAfLeQX.mp4?tag=12"
                        },
                        {
                          "bitrate": 950000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/ext_tw_video/1929931082318983168/pu/vid/avc1/480x600/2s6dVtwQ3-pgy9uu.mp4?tag=12"
                        },
                        {
                          "bitrate": 2176000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/ext_tw_video/1929931082318983168/pu/vid/avc1/720x900/R2MdULt9xdzDa-EM.mp4?tag=12"
                        }
                      ]
                    }
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {
                "hashtags": [
                  {
                    "indices": [
                      21,
                      26
                    ],
                    "text": "ASUS"
                  },
                  {
                    "indices": [
                      27,
                      30
                    ],
                    "text": "AI"
                  },
                  {
                    "indices": [
                      42,
                      55
                    ],
                    "text": "COMPUTEX2025"
                  },
                  {
                    "indices": [
                      184,
                      193
                    ],
                    "text": "COMPUTEX"
                  }
                ],
                "urls": [
                  {
                    "display_url": "asus.click/computex25_x",
                    "expanded_url": "https://asus.click/computex25_x",
                    "indices": [
                      160,
                      183
                    ],
                    "url": "https://t.co/CF4TrPGG0I"
                  }
                ]
              },
              "quoted_tweet": null,
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1929973835392032775",
              "url": "https://x.com/AnglsAI/status/1929973835392032775",
              "twitterUrl": "https://twitter.com/AnglsAI/status/1929973835392032775",
              "text": "Can something unreal still feel true? https://t.co/Q0y4J9XQC6",
              "source": "Twitter for iPhone",
              "retweetCount": 318,
              "replyCount": 25,
              "likeCount": 3344,
              "quoteCount": 15,
              "viewCount": 178342,
              "createdAt": "Tue Jun 03 18:49:54 +0000 2025",
              "lang": "en",
              "bookmarkCount": 496,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1929973835392032775",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "AnglsAI",
                "url": "https://x.com/AnglsAI",
                "twitterUrl": "https://twitter.com/AnglsAI",
                "id": "1831782410242969600",
                "name": "Angels",
                "isVerified": false,
                "isBlueVerified": true,
                "verifiedType": null,
                "profilePicture": "https://pbs.twimg.com/profile_images/1831805085585707008/2Vp-kubh_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/1831782410242969600/1749114483",
                "description": "",
                "location": "",
                "followers": 47653,
                "following": 604,
                "status": "",
                "canDm": true,
                "canMediaTag": false,
                "createdAt": "Thu Sep 05 19:52:42 +0000 2024",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 19570,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 814,
                "statusesCount": 6166,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [
                  "1898102005949731165"
                ],
                "profile_bio": {
                  "description": "Visual Content Specialist @InventionJungle | Visual AI Art / Exploring the Universe and the Essence of Hope |",
                  "entities": {
                    "description": {
                      "user_mentions": [
                        {
                          "id_str": "0",
                          "indices": [
                            26,
                            42
                          ],
                          "name": "",
                          "screen_name": "InventionJungle"
                        }
                      ]
                    }
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "display_url": "pic.twitter.com/Q0y4J9XQC6",
                    "expanded_url": "https://twitter.com/AnglsAI/status/1929973835392032775/photo/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "features": {
                      "large": {},
                      "orig": {}
                    },
                    "id_str": "1929973585285730304",
                    "indices": [
                      38,
                      61
                    ],
                    "media_key": "3_1929973585285730304",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwAAQoAARrIpMAY19AACgACGsik+lRXIAcAAA==",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAABCgABGsikwBjX0AAKAAIayKT6VFcgBwAA",
                        "media_key": "3_1929973585285730304"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/media/GsikwBjX0AA6W3x.jpg",
                    "original_info": {
                      "focus_rects": [
                        {
                          "h": 914,
                          "w": 1632,
                          "x": 0,
                          "y": 1654
                        },
                        {
                          "h": 1632,
                          "w": 1632,
                          "x": 0,
                          "y": 1280
                        },
                        {
                          "h": 1860,
                          "w": 1632,
                          "x": 0,
                          "y": 1052
                        },
                        {
                          "h": 2912,
                          "w": 1456,
                          "x": 176,
                          "y": 0
                        },
                        {
                          "h": 2912,
                          "w": 1632,
                          "x": 0,
                          "y": 0
                        }
                      ],
                      "height": 2912,
                      "width": 1632
                    },
                    "sizes": {
                      "large": {
                        "h": 2048,
                        "w": 1148
                      }
                    },
                    "type": "photo",
                    "url": "https://t.co/Q0y4J9XQC6"
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {},
              "quoted_tweet": null,
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1929947619771523164",
              "url": "https://x.com/Sam_web4/status/1929947619771523164",
              "twitterUrl": "https://twitter.com/Sam_web4/status/1929947619771523164",
              "text": "The crypto space is swarming with AI-powered projects.\n\nTrading bots, fraud detection, automated DeFi...\n\nBut with $10B lost to DeFi scams in 2021 alone, figuring out what’s legit is a must.\n\nI’ve lost money to shady AI projects, and it's not fun\nHere’s how to avoid that.\n\n🧵👇 https://t.co/Jx6h8f7qK3",
              "source": "Twitter for iPhone",
              "retweetCount": 92,
              "replyCount": 87,
              "likeCount": 296,
              "quoteCount": 0,
              "viewCount": 19897,
              "createdAt": "Tue Jun 03 17:05:43 +0000 2025",
              "lang": "en",
              "bookmarkCount": 141,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1929947619771523164",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "Sam_web4",
                "url": "https://x.com/Sam_web4",
                "twitterUrl": "https://twitter.com/Sam_web4",
                "id": "1452572459887169541",
                "name": "Sam_DeFAI",
                "isVerified": false,
                "isBlueVerified": true,
                "verifiedType": null,
                "profilePicture": "https://pbs.twimg.com/profile_images/1654180903105470464/0hKD3AEh_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/1452572459887169541/1741793124",
                "description": "",
                "location": "",
                "followers": 89552,
                "following": 1359,
                "status": "",
                "canDm": true,
                "canMediaTag": true,
                "createdAt": "Mon Oct 25 09:47:26 +0000 2021",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 22024,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 1029,
                "statusesCount": 10304,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [],
                "profile_bio": {
                  "description": "🔍 DeFi Insights ⚡ AI & DeFAI in Web3",
                  "entities": {
                    "description": {}
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "display_url": "pic.twitter.com/Jx6h8f7qK3",
                    "expanded_url": "https://twitter.com/Sam_web4/status/1929947619771523164/photo/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "features": {
                      "large": {},
                      "orig": {}
                    },
                    "id_str": "1929947430084075520",
                    "indices": [
                      277,
                      300
                    ],
                    "media_key": "3_1929947430084075520",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwAAQoAARrIjPZdVuAACgACGsiNIoeXoFwAAA==",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAABCgABGsiM9l1W4AAKAAIayI0ih5egXAAA",
                        "media_key": "3_1929947430084075520"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/media/GsiM9l1W4AA1EHW.jpg",
                    "original_info": {
                      "focus_rects": [
                        {
                          "h": 896,
                          "w": 1600,
                          "x": 0,
                          "y": 0
                        },
                        {
                          "h": 901,
                          "w": 901,
                          "x": 0,
                          "y": 0
                        },
                        {
                          "h": 901,
                          "w": 790,
                          "x": 0,
                          "y": 0
                        },
                        {
                          "h": 901,
                          "w": 451,
                          "x": 135,
                          "y": 0
                        },
                        {
                          "h": 901,
                          "w": 1600,
                          "x": 0,
                          "y": 0
                        }
                      ],
                      "height": 901,
                      "width": 1600
                    },
                    "sizes": {
                      "large": {
                        "h": 901,
                        "w": 1600
                      }
                    },
                    "type": "photo",
                    "url": "https://t.co/Jx6h8f7qK3"
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {},
              "quoted_tweet": null,
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1930050948443058416",
              "url": "https://x.com/mrexits/status/1930050948443058416",
              "twitterUrl": "https://twitter.com/mrexits/status/1930050948443058416",
              "text": "Boomers have absolutely no idea what’s about to hit them with AI https://t.co/Y01G9fQ5rS",
              "source": "Twitter for iPhone",
              "retweetCount": 4200,
              "replyCount": 1625,
              "likeCount": 67311,
              "quoteCount": 781,
              "viewCount": 4949622,
              "createdAt": "Tue Jun 03 23:56:19 +0000 2025",
              "lang": "en",
              "bookmarkCount": 17743,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1930050948443058416",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "mrexits",
                "url": "https://x.com/mrexits",
                "twitterUrl": "https://twitter.com/mrexits",
                "id": "1346900599200043010",
                "name": "prayingforexits 🏴‍☠️",
                "isVerified": false,
                "isBlueVerified": true,
                "verifiedType": null,
                "profilePicture": "https://pbs.twimg.com/profile_images/1639756826400137216/pbjm_VCc_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/1346900599200043010/1672637539",
                "description": "",
                "location": "Venture Jobs, Merch, More 👉🏼",
                "followers": 45535,
                "following": 199,
                "status": "",
                "canDm": true,
                "canMediaTag": true,
                "createdAt": "Wed Jan 06 19:25:12 +0000 2021",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 8261,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 1185,
                "statusesCount": 2652,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [],
                "profile_bio": {
                  "description": "Techno-Capitalist @ Exits Capital",
                  "entities": {
                    "description": {},
                    "url": {
                      "urls": [
                        {
                          "display_url": "linktr.ee/prayingforexits",
                          "expanded_url": "https://linktr.ee/prayingforexits",
                          "indices": [
                            0,
                            23
                          ],
                          "url": "https://t.co/CUeNivDwmH"
                        }
                      ]
                    }
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "additional_media_info": {
                      "monetizable": false
                    },
                    "allow_download_status": {
                      "allow_download": true
                    },
                    "display_url": "pic.twitter.com/Y01G9fQ5rS",
                    "expanded_url": "https://twitter.com/mrexits/status/1930050948443058416/video/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "id_str": "1930050870621900800",
                    "indices": [
                      65,
                      88
                    ],
                    "media_key": "13_1930050870621900800",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwABAoAARrI6wp92hAAAAA=",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAAECgABGsjrCn3aEAAAAA==",
                        "media_key": "13_1930050870621900800"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/amplify_video_thumb/1930050870621900800/img/Xf34OX8M_6cb8H5y.jpg",
                    "original_info": {
                      "focus_rects": [],
                      "height": 962,
                      "width": 720
                    },
                    "sizes": {
                      "large": {
                        "h": 962,
                        "w": 720
                      }
                    },
                    "type": "video",
                    "url": "https://t.co/Y01G9fQ5rS",
                    "video_info": {
                      "aspect_ratio": [
                        360,
                        481
                      ],
                      "duration_millis": 79033,
                      "variants": [
                        {
                          "content_type": "application/x-mpegURL",
                          "url": "https://video.twimg.com/amplify_video/1930050870621900800/pl/2DOrVBIXvsu2agWS.m3u8?tag=21&v=969"
                        },
                        {
                          "bitrate": 632000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1930050870621900800/vid/avc1/320x426/7Z7Ye0dY3FqQHtDK.mp4?tag=21"
                        },
                        {
                          "bitrate": 950000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1930050870621900800/vid/avc1/480x640/Sep3xAqxRQGwLzMl.mp4?tag=21"
                        },
                        {
                          "bitrate": 2176000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1930050870621900800/vid/avc1/720x962/XsRGPLOylWLqyF7t.mp4?tag=21"
                        }
                      ]
                    }
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {},
              "quoted_tweet": null,
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1930044917776031891",
              "url": "https://x.com/ReturnOfKappy/status/1930044917776031891",
              "twitterUrl": "https://twitter.com/ReturnOfKappy/status/1930044917776031891",
              "text": "Ambrosia was Peter Thiel’s company…\n\nIt harvested blood from the young to give to the wealthy… \n\nSounds crazy but it is real…\n\nThis is the kind of vampire we are dealing with… \n\nTheil is one of the founders of Palantir, the AI company thats about to keep tabs on all of us.. https://t.co/fVu680fOUg",
              "source": "Twitter for iPhone",
              "retweetCount": 2981,
              "replyCount": 258,
              "likeCount": 5644,
              "quoteCount": 202,
              "viewCount": 266853,
              "createdAt": "Tue Jun 03 23:32:21 +0000 2025",
              "lang": "en",
              "bookmarkCount": 2014,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1930044917776031891",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "ReturnOfKappy",
                "url": "https://x.com/ReturnOfKappy",
                "twitterUrl": "https://twitter.com/ReturnOfKappy",
                "id": "1516493709566742534",
                "name": "Isaac’s Army",
                "isVerified": false,
                "isBlueVerified": true,
                "verifiedType": null,
                "profilePicture": "https://pbs.twimg.com/profile_images/1863369402835456000/x6Khqk2m_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/1516493709566742534/1651605251",
                "description": "",
                "location": "United States",
                "followers": 406921,
                "following": 2100,
                "status": "",
                "canDm": true,
                "canMediaTag": true,
                "createdAt": "Tue Apr 19 19:07:44 +0000 2022",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 19471,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 4359,
                "statusesCount": 14007,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [
                  "1931060241879491000"
                ],
                "profile_bio": {
                  "description": "Exposing the Cabal,Corruption, and Satanist. Join Isaac’s Army to join in the fight...     https://t.co/NyJCxR1glg @WeWantAnswers28",
                  "entities": {
                    "description": {
                      "urls": [
                        {
                          "display_url": "rumble.com/c/WeWantAnswers",
                          "expanded_url": "https://rumble.com/c/WeWantAnswers",
                          "indices": [
                            91,
                            114
                          ],
                          "url": "https://t.co/NyJCxR1glg"
                        }
                      ],
                      "user_mentions": [
                        {
                          "id_str": "0",
                          "indices": [
                            115,
                            131
                          ],
                          "name": "",
                          "screen_name": "WeWantAnswers28"
                        }
                      ]
                    },
                    "url": {
                      "urls": [
                        {
                          "display_url": "wewantanswers.us",
                          "expanded_url": "https://wewantanswers.us",
                          "indices": [
                            0,
                            23
                          ],
                          "url": "https://t.co/45v22txGoI"
                        }
                      ]
                    }
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "additional_media_info": {
                      "monetizable": false
                    },
                    "display_url": "pic.twitter.com/fVu680fOUg",
                    "expanded_url": "https://twitter.com/ReturnOfKappy/status/1930044917776031891/video/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "id_str": "1930044827581681665",
                    "indices": [
                      275,
                      298
                    ],
                    "media_key": "13_1930044827581681665",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwABAoAARrI5Yt8lhABAAA=",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAAECgABGsjli3yWEAEAAA==",
                        "media_key": "13_1930044827581681665"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/amplify_video_thumb/1930044827581681665/img/efXrADo8J5zkIK2A.jpg",
                    "original_info": {
                      "focus_rects": [],
                      "height": 720,
                      "width": 1280
                    },
                    "sizes": {
                      "large": {
                        "h": 720,
                        "w": 1280
                      }
                    },
                    "type": "video",
                    "url": "https://t.co/fVu680fOUg",
                    "video_info": {
                      "aspect_ratio": [
                        16,
                        9
                      ],
                      "duration_millis": 134418,
                      "variants": [
                        {
                          "content_type": "application/x-mpegURL",
                          "url": "https://video.twimg.com/amplify_video/1930044827581681665/pl/yU0KnVPepyATksnN.m3u8?tag=21&v=551"
                        },
                        {
                          "bitrate": 256000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1930044827581681665/vid/avc1/480x270/AfrGixq5waVuMKpo.mp4?tag=21"
                        },
                        {
                          "bitrate": 832000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1930044827581681665/vid/avc1/640x360/BnoMNls-uw1a276E.mp4?tag=21"
                        },
                        {
                          "bitrate": 2176000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1930044827581681665/vid/avc1/1280x720/pr6FxiNwcICpi_a0.mp4?tag=21"
                        }
                      ]
                    }
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {},
              "quoted_tweet": null,
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1929945736973824454",
              "url": "https://x.com/AutonomysNet/status/1929945736973824454",
              "twitterUrl": "https://twitter.com/AutonomysNet/status/1929945736973824454",
              "text": "☁️ Centralized cloud storage solutions continue to falter under scale and face devastating outages. As we approach the inevitable reality of a billion AI agents, already strained infrastructure will reach breaking point.\n\n📦 The need for decentralized, permanent, and tamper-proof storage has never been clearer.\n\n🧑‍🌾 Proven at scale by 100,000+ farmers during rigorous testnet phases, Autonomys’ distributed storage network is live, open-source, and available for you to start using right now via the Auto Agents Framework and Auto Drive API.\n\n🤖 Whether you strive to build real on-chain AI agents or want future-ready infrastructure to support your innovation, Autonomys is your solution.",
              "source": "Twitter for iPhone",
              "retweetCount": 268,
              "replyCount": 168,
              "likeCount": 300,
              "quoteCount": 84,
              "viewCount": 6880,
              "createdAt": "Tue Jun 03 16:58:15 +0000 2025",
              "lang": "en",
              "bookmarkCount": 2,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1929945736973824454",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "AutonomysNet",
                "url": "https://x.com/AutonomysNet",
                "twitterUrl": "https://twitter.com/AutonomysNet",
                "id": "1382564789444964354",
                "name": "Autonomys | AI3.0",
                "isVerified": false,
                "isBlueVerified": true,
                "verifiedType": "Business",
                "profilePicture": "https://pbs.twimg.com/profile_images/1875165072936386560/0wstRMq7_normal.png",
                "coverPicture": "https://pbs.twimg.com/profile_banners/1382564789444964354/1727794653",
                "description": "",
                "location": "🌍 Global",
                "followers": 150249,
                "following": 404,
                "status": "",
                "canDm": true,
                "canMediaTag": true,
                "createdAt": "Thu Apr 15 05:21:59 +0000 2021",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 3346,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 629,
                "statusesCount": 2519,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [
                  "1901991311470891096"
                ],
                "profile_bio": {
                  "description": "🔼 The Foundation Layer for AI3.0 | Backed by @PanteraCapital | Build super dApps and on-chain agents on our hyper-scalable storage, compute & consensus DePIN",
                  "entities": {
                    "description": {
                      "user_mentions": [
                        {
                          "id_str": "0",
                          "indices": [
                            45,
                            60
                          ],
                          "name": "",
                          "screen_name": "PanteraCapital"
                        }
                      ]
                    },
                    "url": {
                      "urls": [
                        {
                          "display_url": "autonomys.xyz",
                          "expanded_url": "http://autonomys.xyz",
                          "indices": [
                            0,
                            23
                          ],
                          "url": "https://t.co/yqDS31rKqW"
                        }
                      ]
                    }
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "additional_media_info": {
                      "monetizable": false
                    },
                    "display_url": "pic.twitter.com/miIxeoZIrD",
                    "expanded_url": "https://twitter.com/AutonomysNet/status/1929945736973824454/video/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "id_str": "1929945680581439488",
                    "indices": [
                      281,
                      304
                    ],
                    "media_key": "13_1929945680581439488",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwABAoAARrIi18G2zAAAAA=",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAAECgABGsiLXwbbMAAAAA==",
                        "media_key": "13_1929945680581439488"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/amplify_video_thumb/1929945680581439488/img/cqSvhzYa5i8Nx-Xa.jpg",
                    "original_info": {
                      "focus_rects": [],
                      "height": 1080,
                      "width": 1920
                    },
                    "sizes": {
                      "large": {
                        "h": 1080,
                        "w": 1920
                      }
                    },
                    "type": "video",
                    "url": "https://t.co/miIxeoZIrD",
                    "video_info": {
                      "aspect_ratio": [
                        16,
                        9
                      ],
                      "duration_millis": 6000,
                      "variants": [
                        {
                          "content_type": "application/x-mpegURL",
                          "url": "https://video.twimg.com/amplify_video/1929945680581439488/pl/-tEXLCrULsPgmswr.m3u8?tag=14"
                        },
                        {
                          "bitrate": 288000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929945680581439488/vid/avc1/480x270/qJfyKMMihcCZzqbL.mp4?tag=14"
                        },
                        {
                          "bitrate": 832000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929945680581439488/vid/avc1/640x360/FIKVB-hhYpmEzRAj.mp4?tag=14"
                        },
                        {
                          "bitrate": 2176000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929945680581439488/vid/avc1/1280x720/In6TtWh8jCMURaJ1.mp4?tag=14"
                        }
                      ]
                    }
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {},
              "quoted_tweet": null,
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1929974407386001665",
              "url": "https://x.com/BreitbartNews/status/1929974407386001665",
              "twitterUrl": "https://twitter.com/BreitbartNews/status/1929974407386001665",
              "text": "Builder(dot)ai was once valued at $1\n5 billion and had prominent backers such as Microsoft and the Qatar Investment Authority.\n\nTurns out it was just another Indian scam company. https://t.co/6ymWFmO2fB",
              "source": "Twitter for iPhone",
              "retweetCount": 95,
              "replyCount": 45,
              "likeCount": 284,
              "quoteCount": 6,
              "viewCount": 43626,
              "createdAt": "Tue Jun 03 18:52:10 +0000 2025",
              "lang": "en",
              "bookmarkCount": 19,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1929974407386001665",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "BreitbartNews",
                "url": "https://x.com/BreitbartNews",
                "twitterUrl": "https://twitter.com/BreitbartNews",
                "id": "457984599",
                "name": "Breitbart News",
                "isVerified": false,
                "isBlueVerified": true,
                "verifiedType": null,
                "profilePicture": "https://pbs.twimg.com/profile_images/949270171755077632/dw3M-58z_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/457984599/1359997459",
                "description": "",
                "location": "",
                "followers": 2408578,
                "following": 185,
                "status": "",
                "canDm": false,
                "canMediaTag": true,
                "createdAt": "Sun Jan 08 01:50:52 +0000 2012",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 4038,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 14702,
                "statusesCount": 207486,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [
                  "1928866205701476603"
                ],
                "profile_bio": {
                  "description": "News, commentary, and destruction of the political/media establishment.",
                  "entities": {
                    "description": {},
                    "url": {
                      "urls": [
                        {
                          "display_url": "breitbart.com",
                          "expanded_url": "https://breitbart.com",
                          "indices": [
                            0,
                            23
                          ],
                          "url": "https://t.co/fJRChMAzCX"
                        }
                      ]
                    }
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "display_url": "pic.twitter.com/6ymWFmO2fB",
                    "expanded_url": "https://twitter.com/BreitbartNews/status/1929974407386001665/photo/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "features": {
                      "large": {},
                      "orig": {}
                    },
                    "id_str": "1929974405423083520",
                    "indices": [
                      179,
                      202
                    ],
                    "media_key": "3_1929974405423083520",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwAAQoAARrIpX8M1rAACgACGsilf4HWcQEAAA==",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAABCgABGsilfwzWsAAKAAIayKV/gdZxAQAA",
                        "media_key": "3_1929974405423083520"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/media/GsilfwzWsAA_Xap.jpg",
                    "original_info": {
                      "focus_rects": [
                        {
                          "h": 605,
                          "w": 1080,
                          "x": 0,
                          "y": 0
                        },
                        {
                          "h": 1080,
                          "w": 1080,
                          "x": 0,
                          "y": 0
                        },
                        {
                          "h": 1231,
                          "w": 1080,
                          "x": 0,
                          "y": 0
                        },
                        {
                          "h": 1291,
                          "w": 646,
                          "x": 354,
                          "y": 0
                        },
                        {
                          "h": 1291,
                          "w": 1080,
                          "x": 0,
                          "y": 0
                        }
                      ],
                      "height": 1291,
                      "width": 1080
                    },
                    "sizes": {
                      "large": {
                        "h": 1291,
                        "w": 1080
                      }
                    },
                    "type": "photo",
                    "url": "https://t.co/6ymWFmO2fB"
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {},
              "quoted_tweet": null,
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1929999159014371386",
              "url": "https://x.com/Hesamation/status/1929999159014371386",
              "twitterUrl": "https://twitter.com/Hesamation/status/1929999159014371386",
              "text": "found this solid guide on structuring your AI project directory https://t.co/ZRnZGpdtJA",
              "source": "Twitter for iPhone",
              "retweetCount": 226,
              "replyCount": 13,
              "likeCount": 1464,
              "quoteCount": 4,
              "viewCount": 131057,
              "createdAt": "Tue Jun 03 20:30:31 +0000 2025",
              "lang": "en",
              "bookmarkCount": 2632,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1929999159014371386",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "Hesamation",
                "url": "https://x.com/Hesamation",
                "twitterUrl": "https://twitter.com/Hesamation",
                "id": "1836078160653246464",
                "name": "ℏεsam",
                "isVerified": false,
                "isBlueVerified": true,
                "verifiedType": null,
                "profilePicture": "https://pbs.twimg.com/profile_images/1836428464913588224/fuvWemco_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/1836078160653246464/1739717329",
                "description": "",
                "location": "loss landscape",
                "followers": 25647,
                "following": 444,
                "status": "",
                "canDm": true,
                "canMediaTag": true,
                "createdAt": "Tue Sep 17 16:22:16 +0000 2024",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 4940,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 829,
                "statusesCount": 2230,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [
                  "1927461293335728144"
                ],
                "profile_bio": {
                  "description": "ai/ml | rigorously overfitting on a learning curve | ai engineer at @CamelAIOrg",
                  "entities": {
                    "description": {
                      "user_mentions": [
                        {
                          "id_str": "0",
                          "indices": [
                            68,
                            79
                          ],
                          "name": "",
                          "screen_name": "CamelAIOrg"
                        }
                      ]
                    },
                    "url": {
                      "urls": [
                        {
                          "display_url": "huggingface.co/hesamation",
                          "expanded_url": "https://huggingface.co/hesamation",
                          "indices": [
                            0,
                            23
                          ],
                          "url": "https://t.co/fcO0XORppA"
                        }
                      ]
                    }
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "allow_download_status": {
                      "allow_download": true
                    },
                    "display_url": "pic.twitter.com/ZRnZGpdtJA",
                    "expanded_url": "https://twitter.com/Hesamation/status/1929999159014371386/photo/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "features": {
                      "large": {},
                      "orig": {}
                    },
                    "id_str": "1929999145575567360",
                    "indices": [
                      64,
                      87
                    ],
                    "media_key": "3_1929999145575567360",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwAAQoAARrIu/9Q1tAACgACGsi8AnHasDoAAA==",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAABCgABGsi7/1DW0AAKAAIayLwCcdqwOgAA",
                        "media_key": "3_1929999145575567360"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/media/Gsi7_1DW0AABp1e.jpg",
                    "original_info": {
                      "focus_rects": [
                        {
                          "h": 630,
                          "w": 1125,
                          "x": 0,
                          "y": 0
                        },
                        {
                          "h": 1125,
                          "w": 1125,
                          "x": 0,
                          "y": 0
                        },
                        {
                          "h": 1283,
                          "w": 1125,
                          "x": 0,
                          "y": 0
                        },
                        {
                          "h": 1463,
                          "w": 732,
                          "x": 0,
                          "y": 0
                        },
                        {
                          "h": 1463,
                          "w": 1125,
                          "x": 0,
                          "y": 0
                        }
                      ],
                      "height": 1463,
                      "width": 1125
                    },
                    "sizes": {
                      "large": {
                        "h": 1463,
                        "w": 1125
                      }
                    },
                    "type": "photo",
                    "url": "https://t.co/ZRnZGpdtJA"
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {},
              "quoted_tweet": null,
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1930001801199427645",
              "url": "https://x.com/RealAlexJones/status/1930001801199427645",
              "twitterUrl": "https://twitter.com/RealAlexJones/status/1930001801199427645",
              "text": "BREAKING: White House Whistleblowers Warn That AI Is Already \"Out Of Control\" &amp; Is Literally Taking Over https://t.co/rU2HFPnTs2",
              "source": "Twitter for iPhone",
              "retweetCount": 2041,
              "replyCount": 296,
              "likeCount": 5070,
              "quoteCount": 81,
              "viewCount": 152683,
              "createdAt": "Tue Jun 03 20:41:01 +0000 2025",
              "lang": "en",
              "bookmarkCount": 863,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1930001801199427645",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "RealAlexJones",
                "url": "https://x.com/RealAlexJones",
                "twitterUrl": "https://twitter.com/RealAlexJones",
                "id": "109065990",
                "name": "Alex Jones",
                "isVerified": false,
                "isBlueVerified": true,
                "verifiedType": null,
                "profilePicture": "https://pbs.twimg.com/profile_images/798632247762948096/ycGYVWvr_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/109065990/1744394034",
                "description": "",
                "location": "Austin, TX",
                "followers": 4427222,
                "following": 908,
                "status": "",
                "canDm": true,
                "canMediaTag": true,
                "createdAt": "Wed Jan 27 21:42:26 +0000 2010",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 34908,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 15078,
                "statusesCount": 73931,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [
                  "1931819675886739538"
                ],
                "profile_bio": {
                  "description": "Please support our sponsors: https://t.co/LufavzJvAC & https://t.co/IXBV3oct8E & @AJNlive",
                  "entities": {
                    "description": {
                      "urls": [
                        {
                          "display_url": "RealAlexJones.com",
                          "expanded_url": "https://RealAlexJones.com",
                          "indices": [
                            29,
                            52
                          ],
                          "url": "https://t.co/LufavzJvAC"
                        },
                        {
                          "display_url": "TheAlexJonesStore.com",
                          "expanded_url": "https://TheAlexJonesStore.com",
                          "indices": [
                            55,
                            78
                          ],
                          "url": "https://t.co/IXBV3oct8E"
                        }
                      ],
                      "user_mentions": [
                        {
                          "id_str": "0",
                          "indices": [
                            81,
                            89
                          ],
                          "name": "",
                          "screen_name": "AJNlive"
                        }
                      ]
                    },
                    "url": {
                      "urls": [
                        {
                          "display_url": "thealexjonesstore.com",
                          "expanded_url": "http://thealexjonesstore.com",
                          "indices": [
                            0,
                            23
                          ],
                          "url": "https://t.co/52FoF6maWt"
                        }
                      ]
                    }
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "additional_media_info": {
                      "monetizable": false
                    },
                    "allow_download_status": {
                      "allow_download": true
                    },
                    "display_url": "pic.twitter.com/rU2HFPnTs2",
                    "expanded_url": "https://twitter.com/RealAlexJones/status/1930001801199427645/video/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "id_str": "1930000973935579137",
                    "indices": [
                      109,
                      132
                    ],
                    "media_key": "13_1930000973935579137",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwABAoAARrIvakDlpABAAA=",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAAECgABGsi9qQOWkAEAAA==",
                        "media_key": "13_1930000973935579137"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/media/GsjEz-_WIAAR9xn.jpg",
                    "original_info": {
                      "focus_rects": [],
                      "height": 720,
                      "width": 1280
                    },
                    "sizes": {
                      "large": {
                        "h": 720,
                        "w": 1280
                      }
                    },
                    "type": "video",
                    "url": "https://t.co/rU2HFPnTs2",
                    "video_info": {
                      "aspect_ratio": [
                        16,
                        9
                      ],
                      "duration_millis": 461661,
                      "variants": [
                        {
                          "content_type": "application/x-mpegURL",
                          "url": "https://video.twimg.com/amplify_video/1930000973935579137/pl/PAoqxCUpTwpEC5zS.m3u8?tag=21&v=64d"
                        },
                        {
                          "bitrate": 256000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1930000973935579137/vid/avc1/480x270/mX0sRo1oJ2Yk9UV5.mp4?tag=21"
                        },
                        {
                          "bitrate": 832000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1930000973935579137/vid/avc1/640x360/72XpKSL3DW3z-ywu.mp4?tag=21"
                        },
                        {
                          "bitrate": 2176000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1930000973935579137/vid/avc1/1280x720/mp4bwhFInxVg7g_7.mp4?tag=21"
                        }
                      ]
                    }
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {},
              "quoted_tweet": null,
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1929996557820088825",
              "url": "https://x.com/db_fink/status/1929996557820088825",
              "twitterUrl": "https://twitter.com/db_fink/status/1929996557820088825",
              "text": "AI interviews people from the 1500s 🤣 https://t.co/p8G1yIbvM0",
              "source": "Twitter for iPhone",
              "retweetCount": 1568,
              "replyCount": 197,
              "likeCount": 14375,
              "quoteCount": 179,
              "viewCount": 991160,
              "createdAt": "Tue Jun 03 20:20:11 +0000 2025",
              "lang": "en",
              "bookmarkCount": 4520,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1929996557820088825",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "db_fink",
                "url": "https://x.com/db_fink",
                "twitterUrl": "https://twitter.com/db_fink",
                "id": "1181861567450796034",
                "name": "🧠 David",
                "isVerified": false,
                "isBlueVerified": true,
                "verifiedType": null,
                "profilePicture": "https://pbs.twimg.com/profile_images/1921933131004739584/ZNP92_vC_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/1181861567450796034/1748848284",
                "description": "",
                "location": "London ",
                "followers": 23446,
                "following": 2898,
                "status": "",
                "canDm": true,
                "canMediaTag": false,
                "createdAt": "Wed Oct 09 09:18:59 +0000 2019",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 64021,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 5044,
                "statusesCount": 74523,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [],
                "profile_bio": {
                  "description": "Markets talk, we translate. @fink_money | Far up and to the rightism | Georgism fixes inequality",
                  "entities": {
                    "description": {
                      "user_mentions": [
                        {
                          "id_str": "0",
                          "indices": [
                            28,
                            39
                          ],
                          "name": "",
                          "screen_name": "fink_money"
                        }
                      ]
                    },
                    "url": {
                      "urls": [
                        {
                          "display_url": "fink.podia.com/academy",
                          "expanded_url": "https://fink.podia.com/academy",
                          "indices": [
                            0,
                            23
                          ],
                          "url": "https://t.co/VDHvVteBN1"
                        }
                      ]
                    }
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "additional_media_info": {
                      "monetizable": false
                    },
                    "allow_download_status": {
                      "allow_download": true
                    },
                    "display_url": "pic.twitter.com/p8G1yIbvM0",
                    "expanded_url": "https://twitter.com/db_fink/status/1929996557820088825/video/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "id_str": "1929996392690253825",
                    "indices": [
                      38,
                      61
                    ],
                    "media_key": "13_1929996392690253825",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwABAoAARrIuX5cFoABAAA=",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAAECgABGsi5flwWgAEAAA==",
                        "media_key": "13_1929996392690253825"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/amplify_video_thumb/1929996392690253825/img/_7raD29HSSU0CxNX.jpg",
                    "original_info": {
                      "focus_rects": [],
                      "height": 576,
                      "width": 1024
                    },
                    "sizes": {
                      "large": {
                        "h": 576,
                        "w": 1024
                      }
                    },
                    "type": "video",
                    "url": "https://t.co/p8G1yIbvM0",
                    "video_info": {
                      "aspect_ratio": [
                        16,
                        9
                      ],
                      "duration_millis": 68000,
                      "variants": [
                        {
                          "content_type": "application/x-mpegURL",
                          "url": "https://video.twimg.com/amplify_video/1929996392690253825/pl/1bt1zy88OPkQhBU7.m3u8?tag=21&v=4d5"
                        },
                        {
                          "bitrate": 256000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929996392690253825/vid/avc1/480x270/CM-Un0a8BnXPxBo6.mp4?tag=21"
                        },
                        {
                          "bitrate": 832000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929996392690253825/vid/avc1/640x360/KwJvMpJGrntQz2wQ.mp4?tag=21"
                        },
                        {
                          "bitrate": 2176000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929996392690253825/vid/avc1/1024x576/Whr7WeuO5kH3DXkR.mp4?tag=21"
                        }
                      ]
                    }
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {},
              "quoted_tweet": null,
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1929945697001877506",
              "url": "https://x.com/GoogleDeepMind/status/1929945697001877506",
              "twitterUrl": "https://twitter.com/GoogleDeepMind/status/1929945697001877506",
              "text": "Our native audio capabilities are making AI conversations more natural – from understanding tone to generating expressive speech. ✍️🗣️\n\nThis could open up new possibilities for how we interact with AI. Developers, try it through @Google AI Studio.\n\nLearn more. ↓\n\nhttps://t.co/mm35BQAIGn",
              "source": "Twitter for iPhone",
              "retweetCount": 167,
              "replyCount": 51,
              "likeCount": 943,
              "quoteCount": 19,
              "viewCount": 67579,
              "createdAt": "Tue Jun 03 16:58:05 +0000 2025",
              "lang": "en",
              "bookmarkCount": 272,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1929945697001877506",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "GoogleDeepMind",
                "url": "https://x.com/GoogleDeepMind",
                "twitterUrl": "https://twitter.com/GoogleDeepMind",
                "id": "4783690002",
                "name": "Google DeepMind",
                "isVerified": false,
                "isBlueVerified": false,
                "verifiedType": "Business",
                "profilePicture": "https://pbs.twimg.com/profile_images/1695024885070737408/-M-HSH5P_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/4783690002/1749121451",
                "description": "",
                "location": "London, UK",
                "followers": 1156445,
                "following": 277,
                "status": "",
                "canDm": false,
                "canMediaTag": true,
                "createdAt": "Tue Jan 19 13:46:08 +0000 2016",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 2548,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 1515,
                "statusesCount": 3837,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [
                  "1929945697001877506"
                ],
                "profile_bio": {
                  "description": "We’re a team of scientists, engineers, ethicists and more, committed to solving intelligence, to advance science and benefit humanity.",
                  "entities": {
                    "description": {},
                    "url": {
                      "urls": [
                        {
                          "display_url": "deepmind.google",
                          "expanded_url": "http://deepmind.google",
                          "indices": [
                            0,
                            23
                          ],
                          "url": "https://t.co/uR24kkW95X"
                        }
                      ]
                    }
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "additional_media_info": {
                      "monetizable": false
                    },
                    "allow_download_status": {},
                    "display_url": "pic.twitter.com/Nm2QlTZBzh",
                    "expanded_url": "https://twitter.com/GoogleDeepMind/status/1929945697001877506/video/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "id_str": "1929942453022298112",
                    "indices": [
                      264,
                      287
                    ],
                    "media_key": "13_1929942453022298112",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwABAoAARrIiG+NVxAAAAA=",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAAECgABGsiIb41XEAAAAA==",
                        "media_key": "13_1929942453022298112"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/media/GsiLzjYXQAA8iSo.jpg",
                    "original_info": {
                      "focus_rects": [],
                      "height": 1080,
                      "width": 1920
                    },
                    "sizes": {
                      "large": {
                        "h": 1080,
                        "w": 1920
                      }
                    },
                    "type": "video",
                    "url": "https://t.co/Nm2QlTZBzh",
                    "video_info": {
                      "aspect_ratio": [
                        16,
                        9
                      ],
                      "duration_millis": 151234,
                      "variants": [
                        {
                          "content_type": "application/x-mpegURL",
                          "url": "https://video.twimg.com/amplify_video/1929942453022298112/pl/CvnA0CbtwA3teCZ2.m3u8?tag=21&v=24d"
                        },
                        {
                          "bitrate": 256000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929942453022298112/vid/avc1/480x270/weH25l-uGrho9V8I.mp4?tag=21"
                        },
                        {
                          "bitrate": 832000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929942453022298112/vid/avc1/640x360/U5TM9rbVZckMS8Mi.mp4?tag=21"
                        },
                        {
                          "bitrate": 2176000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929942453022298112/vid/avc1/1280x720/eRUWlDfIpMZA2u6S.mp4?tag=21"
                        },
                        {
                          "bitrate": 10368000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929942453022298112/vid/avc1/1920x1080/D_Ol75F2_w27PRWT.mp4?tag=21"
                        }
                      ]
                    }
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {
                "urls": [
                  {
                    "display_url": "goo.gle/3FDRbK4",
                    "expanded_url": "https://goo.gle/3FDRbK4",
                    "indices": [
                      264,
                      287
                    ],
                    "url": "https://t.co/mm35BQAIGn"
                  }
                ],
                "user_mentions": [
                  {
                    "id_str": "20536157",
                    "indices": [
                      229,
                      236
                    ],
                    "name": "Google",
                    "screen_name": "Google"
                  }
                ]
              },
              "quoted_tweet": null,
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1929975083784646983",
              "url": "https://x.com/OnlinePalEng/status/1929975083784646983",
              "twitterUrl": "https://twitter.com/OnlinePalEng/status/1929975083784646983",
              "text": "Pro-Palestine activists disrupted Palantir Technologies for their active role in genocide by supplying 'Israel' with surveillance and AI tech. https://t.co/LBxmhvfrb0",
              "source": "Twitter for iPhone",
              "retweetCount": 5236,
              "replyCount": 162,
              "likeCount": 15991,
              "quoteCount": 73,
              "viewCount": 105749,
              "createdAt": "Tue Jun 03 18:54:51 +0000 2025",
              "lang": "en",
              "bookmarkCount": 392,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1929975083784646983",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "OnlinePalEng",
                "url": "https://x.com/OnlinePalEng",
                "twitterUrl": "https://twitter.com/OnlinePalEng",
                "id": "1318537581185896448",
                "name": "PALESTINE ONLINE 🇵🇸",
                "isVerified": false,
                "isBlueVerified": false,
                "verifiedType": null,
                "profilePicture": "https://pbs.twimg.com/profile_images/1711798879178379264/J-f5ZFCB_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/1318537581185896448/1696968247",
                "description": "",
                "location": "Global ",
                "followers": 417871,
                "following": 239,
                "status": "",
                "canDm": false,
                "canMediaTag": false,
                "createdAt": "Tue Oct 20 13:00:42 +0000 2020",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 13237,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 45980,
                "statusesCount": 48023,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [
                  "1919011853943840877"
                ],
                "profile_bio": {
                  "description": "We convey the voice of the oppressed Palestinian people to the world 🇵🇸",
                  "entities": {
                    "description": {},
                    "url": {
                      "urls": [
                        {
                          "display_url": "palestineonline.org",
                          "expanded_url": "http://palestineonline.org",
                          "indices": [
                            0,
                            23
                          ],
                          "url": "https://t.co/DbYw6aGxbe"
                        }
                      ]
                    }
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "additional_media_info": {
                      "monetizable": false
                    },
                    "display_url": "pic.twitter.com/LBxmhvfrb0",
                    "expanded_url": "https://twitter.com/OnlinePalEng/status/1929975083784646983/video/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "id_str": "1929974940838592512",
                    "indices": [
                      143,
                      166
                    ],
                    "media_key": "7_1929974940838592512",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwAAwoAARrIpfu2FwAACgACGsimHP5WsUcAAA==",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAADCgABGsil+7YXAAAKAAIayKYc/laxRwAA",
                        "media_key": "7_1929974940838592512"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/ext_tw_video_thumb/1929974940838592512/pu/img/MNWHmpKbbiikmJ2T.jpg",
                    "original_info": {
                      "focus_rects": [],
                      "height": 854,
                      "width": 480
                    },
                    "sizes": {
                      "large": {
                        "h": 854,
                        "w": 480
                      }
                    },
                    "type": "video",
                    "url": "https://t.co/LBxmhvfrb0",
                    "video_info": {
                      "aspect_ratio": [
                        240,
                        427
                      ],
                      "duration_millis": 57840,
                      "variants": [
                        {
                          "content_type": "application/x-mpegURL",
                          "url": "https://video.twimg.com/ext_tw_video/1929974940838592512/pu/pl/6YqBhK4dkEu229T5.m3u8?tag=12&v=c7d"
                        },
                        {
                          "bitrate": 632000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/ext_tw_video/1929974940838592512/pu/vid/avc1/320x568/ZlIJS2KwKovj3Ce0.mp4?tag=12"
                        },
                        {
                          "bitrate": 950000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/ext_tw_video/1929974940838592512/pu/vid/avc1/480x854/b7KHY7BkvsSTBA_4.mp4?tag=12"
                        }
                      ]
                    }
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {},
              "quoted_tweet": null,
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1929954044618932509",
              "url": "https://x.com/AiTrying/status/1929954044618932509",
              "twitterUrl": "https://twitter.com/AiTrying/status/1929954044618932509",
              "text": "Art is a weapon. And she’s the masterpiece. https://t.co/FX7b9s9wTd",
              "source": "Twitter for iPhone",
              "retweetCount": 76,
              "replyCount": 31,
              "likeCount": 867,
              "quoteCount": 3,
              "viewCount": 18401,
              "createdAt": "Tue Jun 03 17:31:15 +0000 2025",
              "lang": "en",
              "bookmarkCount": 107,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1929954044618932509",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "AiTrying",
                "url": "https://x.com/AiTrying",
                "twitterUrl": "https://twitter.com/AiTrying",
                "id": "3581346142",
                "name": "Matias",
                "isVerified": false,
                "isBlueVerified": true,
                "verifiedType": null,
                "profilePicture": "https://pbs.twimg.com/profile_images/1892225724414631937/ymtb6m1p_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/3581346142/1739977520",
                "description": "",
                "location": "",
                "followers": 1174,
                "following": 376,
                "status": "",
                "canDm": true,
                "canMediaTag": true,
                "createdAt": "Mon Sep 07 22:25:54 +0000 2015",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 17106,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 748,
                "statusesCount": 4695,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [
                  "1930583726427140313"
                ],
                "profile_bio": {
                  "description": "",
                  "entities": {
                    "description": {}
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "allow_download_status": {
                      "allow_download": true
                    },
                    "display_url": "pic.twitter.com/FX7b9s9wTd",
                    "expanded_url": "https://twitter.com/AiTrying/status/1929954044618932509/photo/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "features": {
                      "large": {},
                      "orig": {}
                    },
                    "id_str": "1929954025434173440",
                    "indices": [
                      44,
                      67
                    ],
                    "media_key": "3_1929954025434173440",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwAAQoAARrIkvX21tAACgACGsiS+m5XAR0AAA==",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAABCgABGsiS9fbW0AAKAAIayJL6blcBHQAA",
                        "media_key": "3_1929954025434173440"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/media/GsiS9fbW0AAN12T.jpg",
                    "original_info": {
                      "focus_rects": [
                        {
                          "h": 520,
                          "w": 928,
                          "x": 0,
                          "y": 17
                        },
                        {
                          "h": 928,
                          "w": 928,
                          "x": 0,
                          "y": 0
                        },
                        {
                          "h": 1058,
                          "w": 928,
                          "x": 0,
                          "y": 0
                        },
                        {
                          "h": 1232,
                          "w": 616,
                          "x": 277,
                          "y": 0
                        },
                        {
                          "h": 1232,
                          "w": 928,
                          "x": 0,
                          "y": 0
                        }
                      ],
                      "height": 1232,
                      "width": 928
                    },
                    "sizes": {
                      "large": {
                        "h": 1232,
                        "w": 928
                      }
                    },
                    "type": "photo",
                    "url": "https://t.co/FX7b9s9wTd"
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {},
              "quoted_tweet": null,
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1929943701704368636",
              "url": "https://x.com/MJTruthUltra/status/1929943701704368636",
              "twitterUrl": "https://twitter.com/MJTruthUltra/status/1929943701704368636",
              "text": "This is absolutely wild…\n\nThe first video is a fake Pharmaceutical Ad, entirely generated by AI. 🤯\n\nNow think about Joe Biden (2nd video)… How many times have we seen him speak where something feels completely off? Is Joe Biden even alive anymore?\n\nTrump even noticed enough to say “did you see his round eyes?”\n\nGiven how real AI looks today… reality through a screen is changing forever and should make everyone question whether or not if something’s real or not anymore.\n\nPharma Ad\nhttps://t.co/OvVMb7wkLI\nBiden Video\nhttps://t.co/txrEheqBUM\nTrump Video\nhttps://t.co/hkybFiRVJJ",
              "source": "Twitter for iPhone",
              "retweetCount": 237,
              "replyCount": 32,
              "likeCount": 664,
              "quoteCount": 6,
              "viewCount": 69139,
              "createdAt": "Tue Jun 03 16:50:09 +0000 2025",
              "lang": "en",
              "bookmarkCount": 99,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1929943701704368636",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "MJTruthUltra",
                "url": "https://x.com/MJTruthUltra",
                "twitterUrl": "https://twitter.com/MJTruthUltra",
                "id": "1634986333721559041",
                "name": "MJTruthUltra",
                "isVerified": false,
                "isBlueVerified": true,
                "verifiedType": null,
                "profilePicture": "https://pbs.twimg.com/profile_images/1634986677172068355/ZDPWDfHU_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/1634986333721559041/1692932403",
                "description": "",
                "location": "Earth",
                "followers": 523690,
                "following": 1792,
                "status": "",
                "canDm": true,
                "canMediaTag": true,
                "createdAt": "Sun Mar 12 18:35:07 +0000 2023",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 32772,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 19356,
                "statusesCount": 38230,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [
                  "1930727543490912405"
                ],
                "profile_bio": {
                  "description": "Watchdog, Researcher, Humor Specialist Unshakable Faith! Base of Operations https://t.co/8OEvgtLcDg",
                  "entities": {
                    "description": {
                      "urls": [
                        {
                          "display_url": "t.me/CandlesInTheNi…",
                          "expanded_url": "http://t.me/CandlesInTheNight",
                          "indices": [
                            76,
                            99
                          ],
                          "url": "https://t.co/8OEvgtLcDg"
                        }
                      ]
                    },
                    "url": {
                      "urls": [
                        {
                          "display_url": "rumble.com/c/MJTruthTalk",
                          "expanded_url": "https://rumble.com/c/MJTruthTalk",
                          "indices": [
                            0,
                            23
                          ],
                          "url": "https://t.co/pXttnKTcCZ"
                        }
                      ]
                    }
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "additional_media_info": {
                      "monetizable": false
                    },
                    "display_url": "pic.twitter.com/ikXcRInVNb",
                    "expanded_url": "https://twitter.com/MJTruthUltra/status/1929943701704368636/video/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "id_str": "1929943619789561857",
                    "indices": [
                      279,
                      302
                    ],
                    "media_key": "13_1929943619789561857",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwABAoAARrIiX82FqABAAA=",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAAECgABGsiJfzYWoAEAAA==",
                        "media_key": "13_1929943619789561857"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/amplify_video_thumb/1929943619789561857/img/M7KKn0Qtx4VD9s12.jpg",
                    "original_info": {
                      "focus_rects": [],
                      "height": 720,
                      "width": 1280
                    },
                    "sizes": {
                      "large": {
                        "h": 720,
                        "w": 1280
                      }
                    },
                    "type": "video",
                    "url": "https://t.co/ikXcRInVNb",
                    "video_info": {
                      "aspect_ratio": [
                        16,
                        9
                      ],
                      "duration_millis": 72166,
                      "variants": [
                        {
                          "content_type": "application/x-mpegURL",
                          "url": "https://video.twimg.com/amplify_video/1929943619789561857/pl/TF8wqf4pP8MtL5MM.m3u8?tag=21&v=3f0"
                        },
                        {
                          "bitrate": 256000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929943619789561857/vid/avc1/480x270/ihScKH8R-_RsdrkH.mp4?tag=21"
                        },
                        {
                          "bitrate": 832000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929943619789561857/vid/avc1/640x360/o9FKVmQvPZIBAC5N.mp4?tag=21"
                        },
                        {
                          "bitrate": 2176000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929943619789561857/vid/avc1/1280x720/h43IMZeSauPLNLI0.mp4?tag=21"
                        }
                      ]
                    }
                  },
                  {
                    "additional_media_info": {
                      "monetizable": false
                    },
                    "display_url": "pic.twitter.com/ikXcRInVNb",
                    "expanded_url": "https://twitter.com/MJTruthUltra/status/1929943701704368636/video/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "id_str": "1929943619793715200",
                    "indices": [
                      279,
                      302
                    ],
                    "media_key": "13_1929943619793715200",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwABAoAARrIiX82VgAAAAA=",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAAECgABGsiJfzZWAAAAAA==",
                        "media_key": "13_1929943619793715200"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/amplify_video_thumb/1929943619793715200/img/KabtXmBb6o6X4ScA.jpg",
                    "original_info": {
                      "focus_rects": [],
                      "height": 352,
                      "width": 640
                    },
                    "sizes": {
                      "large": {
                        "h": 352,
                        "w": 640
                      }
                    },
                    "type": "video",
                    "url": "https://t.co/ikXcRInVNb",
                    "video_info": {
                      "aspect_ratio": [
                        20,
                        11
                      ],
                      "duration_millis": 16966,
                      "variants": [
                        {
                          "content_type": "application/x-mpegURL",
                          "url": "https://video.twimg.com/amplify_video/1929943619793715200/pl/Y4xMxNHNtKBc5TLB.m3u8?tag=21&v=8cf"
                        },
                        {
                          "bitrate": 256000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929943619793715200/vid/avc1/490x270/mjmEV24aUHu9HNIt.mp4?tag=21"
                        },
                        {
                          "bitrate": 832000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929943619793715200/vid/avc1/640x352/SM5G7l-MqYt1TNPy.mp4?tag=21"
                        }
                      ]
                    }
                  },
                  {
                    "additional_media_info": {
                      "monetizable": false
                    },
                    "display_url": "pic.twitter.com/ikXcRInVNb",
                    "expanded_url": "https://twitter.com/MJTruthUltra/status/1929943701704368636/video/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "id_str": "1929943619814699008",
                    "indices": [
                      279,
                      302
                    ],
                    "media_key": "13_1929943619814699008",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwABAoAARrIiX83ljAAAAA=",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAAECgABGsiJfzeWMAAAAA==",
                        "media_key": "13_1929943619814699008"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/amplify_video_thumb/1929943619814699008/img/BSCiSwAvi13HJ0ay.jpg",
                    "original_info": {
                      "focus_rects": [],
                      "height": 608,
                      "width": 1280
                    },
                    "sizes": {
                      "large": {
                        "h": 608,
                        "w": 1280
                      }
                    },
                    "type": "video",
                    "url": "https://t.co/ikXcRInVNb",
                    "video_info": {
                      "aspect_ratio": [
                        40,
                        19
                      ],
                      "duration_millis": 23533,
                      "variants": [
                        {
                          "content_type": "application/x-mpegURL",
                          "url": "https://video.twimg.com/amplify_video/1929943619814699008/pl/SVQFgikU4rzuJzp9.m3u8?tag=21&v=e20"
                        },
                        {
                          "bitrate": 256000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929943619814699008/vid/avc1/568x270/wHZdFT6X5Yaay6Sl.mp4?tag=21"
                        },
                        {
                          "bitrate": 832000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929943619814699008/vid/avc1/756x360/rdN05EKk02Y2k86T.mp4?tag=21"
                        },
                        {
                          "bitrate": 2176000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929943619814699008/vid/avc1/1280x608/ALa4EGOvh11_V87t.mp4?tag=21"
                        }
                      ]
                    }
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {
                "urls": [
                  {
                    "display_url": "rumble.com/v6u9ahf-this-i…",
                    "expanded_url": "https://rumble.com/v6u9ahf-this-is-an-entirely-ai-generated-fake-pharma-ad-crazy.html",
                    "indices": [
                      485,
                      508
                    ],
                    "url": "https://t.co/OvVMb7wkLI"
                  },
                  {
                    "display_url": "rumble.com/v6u9akd-joe-bi…",
                    "expanded_url": "https://rumble.com/v6u9akd-joe-biden-these-are-not-the-same-people.html",
                    "indices": [
                      521,
                      544
                    ],
                    "url": "https://t.co/txrEheqBUM"
                  },
                  {
                    "display_url": "rumble.com/v4dgoa6-trump-…",
                    "expanded_url": "https://rumble.com/v4dgoa6-trump-bidens-round-eyes-and-plastic-surgery.html",
                    "indices": [
                      557,
                      580
                    ],
                    "url": "https://t.co/hkybFiRVJJ"
                  }
                ]
              },
              "quoted_tweet": {
                "type": "tweet",
                "id": "1929010206077309370",
                "url": "https://x.com/MJTruthUltra/status/1929010206077309370",
                "twitterUrl": "https://twitter.com/MJTruthUltra/status/1929010206077309370",
                "text": "Oh my God… look what Trump shared 👀 \n\n“There is no Joe Biden. Executed in 2020” https://t.co/zSqB6auDur",
                "source": "Twitter for iPhone",
                "retweetCount": 1367,
                "replyCount": 395,
                "likeCount": 5810,
                "quoteCount": 115,
                "viewCount": 1257103,
                "createdAt": "Sun Jun 01 03:00:47 +0000 2025",
                "lang": "en",
                "bookmarkCount": 625,
                "isReply": false,
                "inReplyToId": null,
                "conversationId": "1929010206077309370",
                "inReplyToUserId": null,
                "inReplyToUsername": null,
                "author": {
                  "type": "user",
                  "userName": "MJTruthUltra",
                  "url": "https://x.com/MJTruthUltra",
                  "twitterUrl": "https://twitter.com/MJTruthUltra",
                  "id": "1634986333721559041",
                  "name": "MJTruthUltra",
                  "isVerified": false,
                  "isBlueVerified": true,
                  "verifiedType": null,
                  "profilePicture": "https://pbs.twimg.com/profile_images/1634986677172068355/ZDPWDfHU_normal.jpg",
                  "coverPicture": "https://pbs.twimg.com/profile_banners/1634986333721559041/1692932403",
                  "description": "",
                  "location": "Earth",
                  "followers": 523690,
                  "following": 1792,
                  "status": "",
                  "canDm": true,
                  "canMediaTag": true,
                  "createdAt": "Sun Mar 12 18:35:07 +0000 2023",
                  "entities": {
                    "description": {
                      "urls": []
                    },
                    "url": {}
                  },
                  "fastFollowersCount": 0,
                  "favouritesCount": 32772,
                  "hasCustomTimelines": true,
                  "isTranslator": false,
                  "mediaCount": 19356,
                  "statusesCount": 38230,
                  "withheldInCountries": [],
                  "affiliatesHighlightedLabel": {},
                  "possiblySensitive": false,
                  "pinnedTweetIds": [
                    "1930727543490912405"
                  ],
                  "profile_bio": {
                    "description": "Watchdog, Researcher, Humor Specialist Unshakable Faith! Base of Operations https://t.co/8OEvgtLcDg",
                    "entities": {
                      "description": {
                        "urls": [
                          {
                            "display_url": "t.me/CandlesInTheNi…",
                            "expanded_url": "http://t.me/CandlesInTheNight",
                            "indices": [
                              76,
                              99
                            ],
                            "url": "https://t.co/8OEvgtLcDg"
                          }
                        ]
                      },
                      "url": {
                        "urls": [
                          {
                            "display_url": "rumble.com/c/MJTruthTalk",
                            "expanded_url": "https://rumble.com/c/MJTruthTalk",
                            "indices": [
                              0,
                              23
                            ],
                            "url": "https://t.co/pXttnKTcCZ"
                          }
                        ]
                      }
                    }
                  },
                  "isAutomated": false,
                  "automatedBy": null
                },
                "extendedEntities": {
                  "media": [
                    {
                      "additional_media_info": {
                        "monetizable": false
                      },
                      "display_url": "pic.twitter.com/zSqB6auDur",
                      "expanded_url": "https://twitter.com/MJTruthUltra/status/1929010206077309370/video/1",
                      "ext_media_availability": {
                        "status": "Available"
                      },
                      "id_str": "1929010198863044609",
                      "indices": [
                        80,
                        103
                      ],
                      "media_key": "13_1929010198863044609",
                      "media_results": {
                        "id": "QXBpTWVkaWFSZXN1bHRzOgwABAoAARrFOI43VmABAAA=",
                        "result": {
                          "__typename": "ApiMedia",
                          "id": "QXBpTWVkaWE6DAAECgABGsU4jjdWYAEAAA==",
                          "media_key": "13_1929010198863044609"
                        }
                      },
                      "media_url_https": "https://pbs.twimg.com/amplify_video_thumb/1929010198863044609/img/S0IQh0PAlHTcZfUA.jpg",
                      "original_info": {
                        "focus_rects": [],
                        "height": 848,
                        "width": 576
                      },
                      "sizes": {
                        "large": {
                          "h": 848,
                          "w": 576
                        }
                      },
                      "type": "video",
                      "url": "https://t.co/zSqB6auDur",
                      "video_info": {
                        "aspect_ratio": [
                          36,
                          53
                        ],
                        "duration_millis": 3366,
                        "variants": [
                          {
                            "content_type": "application/x-mpegURL",
                            "url": "https://video.twimg.com/amplify_video/1929010198863044609/pl/6OX-c0N3Ip6lejPV.m3u8?tag=21"
                          },
                          {
                            "bitrate": 632000,
                            "content_type": "video/mp4",
                            "url": "https://video.twimg.com/amplify_video/1929010198863044609/vid/avc1/320x470/8XIXFOrmzugZOKlb.mp4?tag=21"
                          },
                          {
                            "bitrate": 950000,
                            "content_type": "video/mp4",
                            "url": "https://video.twimg.com/amplify_video/1929010198863044609/vid/avc1/480x706/QO81_RGkvbeb_zTi.mp4?tag=21"
                          },
                          {
                            "bitrate": 2176000,
                            "content_type": "video/mp4",
                            "url": "https://video.twimg.com/amplify_video/1929010198863044609/vid/avc1/576x848/m22PF15hn2nXd5eN.mp4?tag=21"
                          }
                        ]
                      }
                    }
                  ]
                },
                "card": null,
                "place": {},
                "entities": {},
                "quoted_tweet": null,
                "retweeted_tweet": null
              },
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1929936046109929574",
              "url": "https://x.com/adampnathan/status/1929936046109929574",
              "twitterUrl": "https://twitter.com/adampnathan/status/1929936046109929574",
              "text": "Market Street's demise is a product of our own doing. We shut it down to cars as the pandemic hit and for five years, nothing was done to revitalize it. Now, the mayor wants your ideas and is offering $100k for the best plan. Let's bring Market St. back! #SanFrancisco https://t.co/FJ3iDcKcsE",
              "source": "Twitter for iPhone",
              "retweetCount": 14,
              "replyCount": 42,
              "likeCount": 91,
              "quoteCount": 0,
              "viewCount": 4039,
              "createdAt": "Tue Jun 03 16:19:44 +0000 2025",
              "lang": "en",
              "bookmarkCount": 3,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1929936046109929574",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "adampnathan",
                "url": "https://x.com/adampnathan",
                "twitterUrl": "https://twitter.com/adampnathan",
                "id": "14940673",
                "name": "Adam Nathan • blaze.ai 🇺🇸",
                "isVerified": false,
                "isBlueVerified": true,
                "verifiedType": null,
                "profilePicture": "https://pbs.twimg.com/profile_images/1884058589213691905/0Uzmiafo_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/14940673/1733941760",
                "description": "",
                "location": "San Francisco",
                "followers": 16365,
                "following": 1907,
                "status": "",
                "canDm": true,
                "canMediaTag": true,
                "createdAt": "Thu May 29 03:43:26 +0000 2008",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 20275,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 941,
                "statusesCount": 9677,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [
                  "1928471985761165331"
                ],
                "profile_bio": {
                  "description": "ceo @blazeaiapp – the #1 marketing AI tool for small businesses and teams of one. chair, advisory board, @salvationarmysf.  writing Startup Tycoon weekly.",
                  "entities": {
                    "description": {
                      "user_mentions": [
                        {
                          "id_str": "0",
                          "indices": [
                            4,
                            15
                          ],
                          "name": "",
                          "screen_name": "blazeaiapp"
                        },
                        {
                          "id_str": "0",
                          "indices": [
                            105,
                            121
                          ],
                          "name": "",
                          "screen_name": "salvationarmysf"
                        }
                      ]
                    },
                    "url": {
                      "urls": [
                        {
                          "display_url": "mail.startuptycoon.com",
                          "expanded_url": "https://mail.startuptycoon.com/",
                          "indices": [
                            0,
                            23
                          ],
                          "url": "https://t.co/HJnf6lZynb"
                        }
                      ]
                    }
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {
                "media": [
                  {
                    "additional_media_info": {
                      "monetizable": false
                    },
                    "allow_download_status": {
                      "allow_download": true
                    },
                    "display_url": "pic.twitter.com/FJ3iDcKcsE",
                    "expanded_url": "https://twitter.com/adampnathan/status/1929936046109929574/video/1",
                    "ext_media_availability": {
                      "status": "Available"
                    },
                    "id_str": "1929934982249885696",
                    "indices": [
                      269,
                      292
                    ],
                    "media_key": "13_1929934982249885696",
                    "media_results": {
                      "id": "QXBpTWVkaWFSZXN1bHRzOgwABAoAARrIgaQgmrAAAAA=",
                      "result": {
                        "__typename": "ApiMedia",
                        "id": "QXBpTWVkaWE6DAAECgABGsiBpCCasAAAAA==",
                        "media_key": "13_1929934982249885696"
                      }
                    },
                    "media_url_https": "https://pbs.twimg.com/amplify_video_thumb/1929934982249885696/img/O-cYU7kFVixIrAEu.jpg",
                    "original_info": {
                      "focus_rects": [],
                      "height": 1920,
                      "width": 1080
                    },
                    "sizes": {
                      "large": {
                        "h": 1920,
                        "w": 1080
                      }
                    },
                    "type": "video",
                    "url": "https://t.co/FJ3iDcKcsE",
                    "video_info": {
                      "aspect_ratio": [
                        9,
                        16
                      ],
                      "duration_millis": 33130,
                      "variants": [
                        {
                          "content_type": "application/x-mpegURL",
                          "url": "https://video.twimg.com/amplify_video/1929934982249885696/pl/a-uA9OqSBEiyUOqe.m3u8?tag=21&v=ad7"
                        },
                        {
                          "bitrate": 632000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929934982249885696/vid/avc1/320x568/l-L8QiNVhjQbIUpK.mp4?tag=21"
                        },
                        {
                          "bitrate": 950000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929934982249885696/vid/avc1/480x852/htQyK_i2LMMNm2e2.mp4?tag=21"
                        },
                        {
                          "bitrate": 2176000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929934982249885696/vid/avc1/720x1280/rEFALRjqR3z8xzCn.mp4?tag=21"
                        },
                        {
                          "bitrate": 10368000,
                          "content_type": "video/mp4",
                          "url": "https://video.twimg.com/amplify_video/1929934982249885696/vid/avc1/1080x1920/LvA8Zy2ny8M5iyHb.mp4?tag=21"
                        }
                      ]
                    }
                  }
                ]
              },
              "card": null,
              "place": {},
              "entities": {
                "hashtags": [
                  {
                    "indices": [
                      255,
                      268
                    ],
                    "text": "SanFrancisco"
                  }
                ]
              },
              "quoted_tweet": null,
              "retweeted_tweet": null
            },
            {
              "type": "tweet",
              "id": "1930012151739232494",
              "url": "https://x.com/CaptainGalxy/status/1930012151739232494",
              "twitterUrl": "https://twitter.com/CaptainGalxy/status/1930012151739232494",
              "text": "Mission Impossible was right to call Ai the \"AntiChrist\" and \"the lord of lies\" because this is disgusting",
              "source": "Twitter for iPhone",
              "retweetCount": 7237,
              "replyCount": 124,
              "likeCount": 92131,
              "quoteCount": 45,
              "viewCount": 1458832,
              "createdAt": "Tue Jun 03 21:22:09 +0000 2025",
              "lang": "en",
              "bookmarkCount": 3169,
              "isReply": false,
              "inReplyToId": null,
              "conversationId": "1930012151739232494",
              "inReplyToUserId": null,
              "inReplyToUsername": null,
              "author": {
                "type": "user",
                "userName": "CaptainGalxy",
                "url": "https://x.com/CaptainGalxy",
                "twitterUrl": "https://twitter.com/CaptainGalxy",
                "id": "2574176198",
                "name": "Cap☆",
                "isVerified": false,
                "isBlueVerified": false,
                "verifiedType": null,
                "profilePicture": "https://pbs.twimg.com/profile_images/1898037214220894211/sAnaxF_L_normal.jpg",
                "coverPicture": "https://pbs.twimg.com/profile_banners/2574176198/1673397296",
                "description": "",
                "location": "AZ ",
                "followers": 7129,
                "following": 2695,
                "status": "",
                "canDm": true,
                "canMediaTag": true,
                "createdAt": "Wed Jun 18 05:11:53 +0000 2014",
                "entities": {
                  "description": {
                    "urls": []
                  },
                  "url": {}
                },
                "fastFollowersCount": 0,
                "favouritesCount": 80910,
                "hasCustomTimelines": true,
                "isTranslator": false,
                "mediaCount": 26989,
                "statusesCount": 142966,
                "withheldInCountries": [],
                "affiliatesHighlightedLabel": {},
                "possiblySensitive": false,
                "pinnedTweetIds": [
                  "995408618345267200"
                ],
                "profile_bio": {
                  "description": "| Video Game & Film enjoyer | Asian | 27 |",
                  "entities": {
                    "description": {}
                  }
                },
                "isAutomated": false,
                "automatedBy": null
              },
              "extendedEntities": {},
              "card": null,
              "place": {},
              "entities": {},
              "quoted_tweet": {
                "type": "tweet",
                "id": "1929711357638619520",
                "url": "https://x.com/BehizyTweets/status/1929711357638619520",
                "twitterUrl": "https://twitter.com/BehizyTweets/status/1929711357638619520",
                "text": "People are now using AI to depict Biblical stories.\n\nSatan didn't have this on his bingo cards. https://t.co/XpjLJNfn9n",
                "source": "Twitter for iPhone",
                "retweetCount": 8035,
                "replyCount": 1584,
                "likeCount": 67364,
                "quoteCount": 2361,
                "viewCount": 9050441,
                "createdAt": "Tue Jun 03 01:26:54 +0000 2025",
                "lang": "en",
                "bookmarkCount": 21621,
                "isReply": false,
                "inReplyToId": null,
                "conversationId": "1929711357638619520",
                "inReplyToUserId": null,
                "inReplyToUsername": null,
                "author": {
                  "type": "user",
                  "userName": "BehizyTweets",
                  "url": "https://x.com/BehizyTweets",
                  "twitterUrl": "https://twitter.com/BehizyTweets",
                  "id": "1403784319122907136",
                  "name": "George",
                  "isVerified": false,
                  "isBlueVerified": true,
                  "verifiedType": null,
                  "profilePicture": "https://pbs.twimg.com/profile_images/1860906759600152577/utOLOLfs_normal.jpg",
                  "coverPicture": "https://pbs.twimg.com/profile_banners/1403784319122907136/1623523796",
                  "description": "",
                  "location": "",
                  "followers": 663234,
                  "following": 576,
                  "status": "",
                  "canDm": true,
                  "canMediaTag": false,
                  "createdAt": "Sat Jun 12 18:40:46 +0000 2021",
                  "entities": {
                    "description": {
                      "urls": []
                    },
                    "url": {}
                  },
                  "fastFollowersCount": 0,
                  "favouritesCount": 35995,
                  "hasCustomTimelines": true,
                  "isTranslator": false,
                  "mediaCount": 10572,
                  "statusesCount": 38611,
                  "withheldInCountries": [],
                  "affiliatesHighlightedLabel": {},
                  "possiblySensitive": false,
                  "pinnedTweetIds": [],
                  "profile_bio": {
                    "description": "The LORD is Good",
                    "entities": {
                      "description": {}
                    }
                  },
                  "isAutomated": false,
                  "automatedBy": null
                },
                "extendedEntities": {
                  "media": [
                    {
                      "additional_media_info": {
                        "monetizable": false
                      },
                      "display_url": "pic.twitter.com/XpjLJNfn9n",
                      "expanded_url": "https://twitter.com/BehizyTweets/status/1929711357638619520/video/1",
                      "ext_media_availability": {
                        "status": "Available"
                      },
                      "id_str": "1929711318434533376",
                      "indices": [
                        96,
                        119
                      ],
                      "media_key": "7_1929711318434533376",
                      "media_results": {
                        "id": "QXBpTWVkaWFSZXN1bHRzOgwAAwoAARrHtjhWV1AACgACGse2QXcWMYAAAA==",
                        "result": {
                          "__typename": "ApiMedia",
                          "id": "QXBpTWVkaWE6DAADCgABGse2OFZXUAAKAAIax7ZBdxYxgAAA",
                          "media_key": "7_1929711318434533376"
                        }
                      },
                      "media_url_https": "https://pbs.twimg.com/ext_tw_video_thumb/1929711318434533376/pu/img/beokJToenWHfOSPn.jpg",
                      "original_info": {
                        "focus_rects": [],
                        "height": 720,
                        "width": 1280
                      },
                      "sizes": {
                        "large": {
                          "h": 720,
                          "w": 1280
                        }
                      },
                      "type": "video",
                      "url": "https://t.co/XpjLJNfn9n",
                      "video_info": {
                        "aspect_ratio": [
                          16,
                          9
                        ],
                        "duration_millis": 44500,
                        "variants": [
                          {
                            "content_type": "application/x-mpegURL",
                            "url": "https://video.twimg.com/ext_tw_video/1929711318434533376/pu/pl/qozll6bwKqLHTySX.m3u8?tag=12&v=8a8"
                          },
                          {
                            "bitrate": 256000,
                            "content_type": "video/mp4",
                            "url": "https://video.twimg.com/ext_tw_video/1929711318434533376/pu/vid/avc1/480x270/4-WT7yUBkBg0DxIj.mp4?tag=12"
                          },
                          {
                            "bitrate": 832000,
                            "content_type": "video/mp4",
                            "url": "https://video.twimg.com/ext_tw_video/1929711318434533376/pu/vid/avc1/640x360/XpS915VZw-bCGXB8.mp4?tag=12"
                          },
                          {
                            "bitrate": 2176000,
                            "content_type": "video/mp4",
                            "url": "https://video.twimg.com/ext_tw_video/1929711318434533376/pu/vid/avc1/1280x720/3Zu2HVPFO0TeIzc4.mp4?tag=12"
                          }
                        ]
                      }
                    }
                  ]
                },
                "card": null,
                "place": {},
                "entities": {},
                "quoted_tweet": null,
                "retweeted_tweet": null
              },
              "retweeted_tweet": null
            }
          ],
          "has_next_page": true,
          "next_cursor": "DAACCgACGs9XVpTAJxAKAAMaz1dWlL_Y8AgABAAAAAILAAUAAADoRW1QQzZ3QUFBZlEvZ0dKTjB2R3AvQUFBQUJNYXlJS2IwNXF3WmhySWZpMW9HckMzR3NpbUhQNVdzVWNheUl0aTJaY3dBaHJJakh1SzEyRzlHc2ljY0dxYXNMOGF5T3NjbkZxdzhCckl2QUp4MnJBNkdzaWsrbFJYSUFjYXlNZlRqSnF3N2hySTUva1FGa0RrR3NpSmtraVhZZndheUpMNmJsY0JIUnJJcFgrQjFuRUJHc2lOSW9lWG9Gd2F5T1dnZkphZ2t4ckl1YVRPbDlINUdzaUxiQ2dhc2NZYXlMNXBvRnNnUFE9PQgABgAAAAAIAAcAAAAADAAICgABGsh-LWgasLcAAAA"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Generate Page Numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Page Numbers": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Find Tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Key Information": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Source": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Tweets": {
      "main": [
        [
          {
            "node": "Extract Key Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Add to Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2af5114b-37fa-46ee-8a24-21e71f3eddb3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eae46237f0b03e1e21495b9d127d17ad71e5e7504c7d7b1084f9a3d34657c561"
  },
  "id": "GlDI1cKcgzJDpX5T",
  "tags": []
}